[2020-06-11 02:16] moonming opened #9 "request help: helm charts for Apache APISIX"

[2020-10-09 09:24] ziyou434 opened #2 "failed to fetch data from etcd"
`2020/10/09 09:00:27 [error] 15#15: *8 [lua] config_etcd.lua:351: failed to fetch data from etcd: failed to read etcd dir, etcd key: /apisix/upstreams, context: ngx.timer
2020/10/09 09:00:27 [error] 16#16: *11 [lua] config_etcd.lua:351: failed to fetch data from etcd: failed to read etcd dir, etcd key: /apisix/consumers, context: ngx.timer
2020/10/09 09:00:27 [error] 15#15: *18 [lua] config_etcd.l

[2020-10-09 09:26] membphis commented on #2
it seems that the APISIX instance misses the` apisix init` step

[2020-10-09 09:28] ziyou434 commented on #2
那么是chart的问题还是我的问题呢，我应该如何改进他

[2020-10-09 13:23] membphis commented on #2
@lilien1010 do you know this problem?

[2020-10-12 07:42] lilien1010 commented on #2
@ziyou434
Hi, can you check whether your etcd host is reachable in your apisix instance?
or  you refer some configuration here :https://github.com/kubesphere/helm-charts/tree/master/src/test/apisix

[2020-10-12 07:53] ziyou434 commented on #2
I change the chart from etcd/bitmani to the Official chart called “etcd-operator”, then got the health log without error.

[2020-11-23 07:29] hyt05 opened #3 "Etcd cluster with tls"
etcd version：3.4.3
How can I configure an etcd cluster with tls, I know my certification path clearly。

[2020-11-23 07:47] spacewander commented on #3
Do you mean configuring a client certificate for APISIX?

[2020-11-23 07:54] hyt05 commented on #3
@spacewander  No, I want to connect etcd cluster with tls for apisix, how to set

[2020-11-23 07:56] hyt05 commented on #3
@spacewander     No, I want apisix to connect to the etcd cluster of tls, how to set it up

[2020-11-23 08:04] spacewander commented on #3
Why you need a certification when you just want to connect a HTTPS server?

[2020-11-23 08:13] spacewander commented on #3
Err... Do you mean you want to set a server side certification for etcd? It would be better to ask this question to the community of etcd. It isn't related to APISIX.

[2020-11-23 08:13] #3 closed

[2020-11-28 16:01] gxthrj opened #5 "Request help: need to add dependence chart, such as etcd"
Since the release of Apache APISIX version 2.0, etcd has been adjusted from v2 to v3.
We need to explicitly indicate dependencies in the chart to prevent users from reporting errors during the upgrade process.

[2020-11-30 02:53] tokers commented on #5
Could helm specifies the minimal version of a dependency?

[2020-11-30 03:09] gxthrj commented on #5
We can specify a specific version for dependent charts, but as far as I know the minimum version is not easy to set.

[2020-12-03 08:49] gxthrj opened #6 "Discuss: Add APISIX-helm-chart to the Charts repo."
We can add to repos as below:
1. https://github.com/helm/charts
2. https://github.com/bitnami/charts

What do you think?

[2020-12-03 08:51] lilien1010 commented on #6
prefer 2.

[2020-12-03 09:11] tokers commented on #6
+1.

[2020-12-03 09:59] gxthrj opened #7 "Configure configmap entirely"
Now we use template to configure `config.conf`, hide a lot of judgment conditions.Configure configmap entirely may be better.

[2020-12-25 07:33] Miss-you opened #8 "BUG：install fail ‘pod has unbound immediate PersistentVolumeClaims’ on Qcloud/TencentCloud TKE"
env：TKE
command：helm install apisix ./chart/apisix -n default

![image](https://user-images.githubusercontent.com/3816205/103125563-737d6a00-46c6-11eb-8ff4-b27fb4df6f68.png)

![image](https://user-images.githubusercontent.com/3816205/103125529-5183e780-46c6-11eb-9d00-250fc2f7f385.png)

[2020-12-26 15:41] Miss-you opened #11 "PVC problems in etcd deployment"
When applying for a PVC, you need to meet the requirements of the cloud service provider, for example, Tencent Cloud requires that the storage size of the PVC applied for be a multiple of 10G, while the default storage size applied for etcd helm deployment is 8G, resulting in the failure of the PVC application.

[2020-12-26 15:42] Miss-you opened #12 "How to set the PVC storage of etcd when deploying apisix-helm-chart?"
When applying for a PVC, you need to meet the requirements of the cloud service provider, for example, Tencent Cloud requires that the storage size of the PVC applied for be a multiple of 10G, while the default storage size applied for etcd helm deployment is 8G, resulting in the failure of the PVC application.

[2020-12-26 15:45] Miss-you opened #13 "I want apisix-helm-chart to add a mechanism to clean up pvc in the uninstall process"
Add a cleanall process, which can uninstall PVCs required by etcd

[2020-12-26 15:46] Miss-you opened #14 "apisix-helm-chart needs to support setting the number of apisix startup workers"
apisix starts nginx workers by default based on the number of node machine cpus

[2020-12-26 15:48] Miss-you opened #15 "One-click deployment of helm-chart cannot be linked with apisix-ingress-controller fast"
The installation process encounters a lot of problems

ref:
#14
#13
#12
#11
#8

ingress ref:
https://github.com/apache/apisix-ingress-controller/issues/141
https://github.com/apache/apisix-ingress-controller/issues/140
https://github.com/apache/apisix-ingress-controller/issues/139
https://github.com/apache/apisix-ingress-controller/issues/138
https://github.com/apache/apisix-ingress-controller/iss

[2020-12-30 08:52] Caelebs opened #16 "The Charts deployment apisix with etcd error"
When I run install directly, the container `wait-etcd` is always in the init state, and the log prompts bad address

[code]

The configuration in the `values.yaml ` file is as follows, without any modification, I am not sure if I need to modify the `host`?

[code]

The current situation is that when `enable ` is set to `false ` and an external etcd address is configured, apisix can be deployed and

[2020-12-30 15:00] membphis commented on #16
@gxthrj please take a look at this issue

[2020-12-31 01:31] tokers commented on #16
@Caelebs What about the running situation of etcd pods? Could you also paste the pod details and service details of etcd?

[2020-12-31 03:21] Caelebs commented on #16
apisix pods are always in init state and it seems that no etcd pod is created,

[code]

[code]

[code]
There is an etcd container running on node node4, but `bad address` is always output in the log

[code]
[code]
Are there any other logs I need to provide?
@tokers

[2020-12-31 03:30] tokers commented on #16
The etcd service is not deployed? Then of course the `nc` program in apisix initContainer to probe etcd will fail.

This is the init container in apisix pod, not the etcd container.

It seems the etcd is not deployed correctly, be sure:

1) follow the correct step to install apisix by helm chart
2) check the status of etcd deployment, service

[2020-12-31 03:43] Caelebs commented on #16
Do you mean I need to deploy etcd service separately? I would have thought that directly helm install apisix can automatically deploy apisix and dependent components etcd, Because I saw the `dependencies` node in `Chart.yaml`, I thought that etcd would be deployed automatically.

[code]
Thanks Reply @tokers

[2021-01-05 02:09] #16 closed

[2021-01-05 02:18] Caelebs opened #17 "Request help: Add apisix-dashboard to the current chart"
This chart can now deploy `apisix` and its dependent components `etcd` at the same time, hoping to add `apisix-dashboard`

[2021-01-05 16:04] gxthrj commented on #16
Sorry for late reply.
Follow the [doc](https://github.com/apache/apisix-helm-chart#dependencies), we need to update the dependency before helm install.

[2021-01-05 17:22] #9 closed

[2021-01-06 02:20] Caelebs commented on #17
I have added dashboard support.

[2021-01-06 02:20] #17 closed

[2021-01-06 02:23] Caelebs commented on #16
Thanks for the reply. Later, I added the dependency etcd to the charts directory and the deployment was successful

[2021-01-06 02:24] Caelebs commented on #16
Thanks for the reply. Later, I added the dependency etcd to the charts directory and the deployment was successful

[2021-01-25 09:45] zhangxiaohui123456 opened #21 "get "" from etcd"
I deployed an ETCD outside the container ，apisix pod can not start . The error Info is I deployed an ETCD outside the container

[2021-01-25 10:27] tokers commented on #21
Indeed the error message thrown by APISIX is not so friendly (but the newest APISIX already optimized it, you may try it).

You may deploy another Pod in your Kubernetes cluster, and login it, send requests to the etcd cluster and see what happens.

[2021-01-26 06:42] tokers opened #22 "the description about only installing APISIX should be altered"
![image](https://user-images.githubusercontent.com/10428333/105809436-a7f58600-5fe4-11eb-94de-9a1a91aba0ae.png)

We don't need to care the etcd hosts setting once we disable it.

[2021-01-26 07:11] zhangxiaohui123456 opened #23 "when etcd pod start error"
etcdmain: cannot access data directory: mkdir /bitnami/etcd/data: permission denied

[2021-01-26 08:34] zhangxiaohui123456 commented on #23
The problem has already been settled. should  increase ---set etcd.volumePermissions.enabled=true  when installation。Complete install statement is helm install apisix ./chart/apisix -n default \
    --set allow.ipList="" \
 --set etcd.volumePermissions.enabled=true

[2021-01-26 10:38] tokers commented on #23
@zhangxiaohui123456 Would you like to add a FAQ document for it?

[2021-01-26 12:55] zhangxiaohui123456 commented on #23
yes

[2021-01-26 12:59] zhangxiaohui123456 opened #24 "apisix-ingress install fail because of etcd not start"
etcd pod is started, but apisix pod install fail this is Error log :Error from server (BadRequest): container "apisix" in pod "apisix-5d7bc7ccdf-sxlpj" is waiting to start: PodInitializing

[2021-01-26 14:04] zhangxiaohui123456 opened #25 "pod "apisix-5d7bc7ccdf-c8ftq" is waiting to start"
This is my execution step :
   1. Use the following command to install
    helm install apisix ./chart/apisix -n default \
    --set allow.ipList="" \
      --set etcd.volumePermissions.enabled=true
    2. The phenomenon of complete installation:
        etcd pod status is running but apsix pod status is  Init:0/1
    3.error logs
        about  apisix pod describe info is :  Started container wai

[2021-02-01 11:14] membphis commented on #24
ping @gxthrj @tokers

[2021-02-01 11:14] membphis commented on #25
ping @gxthrj @tokers

[2021-02-01 13:54] tokers commented on #24
@zhangxiaohui123456 Please provides more information like the output of `kubectl describe pod apisix-5d7bc7ccdf-sxlpj `.

[2021-02-01 13:55] tokers commented on #25
@zhangxiaohui123456 Please paste some outputs from `kubectl describe pod apisix-5d7bc7ccdf-c8ftq `.

The etcd pod is running but it might not ready, the apisix pod's initContainer will always wait until the etcd cluster is ready.

[2021-02-03 10:03] Junnplus opened #28 "break change with affinity?"
break change with affinity?

_Originally posted by @Junnplus in https://github.com/apache/apisix-helm-chart/pull/20#discussion_r564489195_

[2021-02-03 12:28] tokers commented on #28
I saw the #20, It seems the affinity configuration is incomplete now. We need the affinity capability.

[2021-02-03 12:28] tokers commented on #28
@gxthrj

[2021-02-03 12:29] tokers commented on #28
Also, the bug you mentioned should be fixed. PR's are welcome!

[2021-02-06 10:49] gxthrj commented on #22
Will do this next week

[2021-02-20 01:05] xie-shujian opened #30 "openresty 403"
I installed it on k3s with helm.
I created a api with dashboard.
It raises an openresty 403 error when I call the api.

[2021-02-20 01:33] xie-shujian commented on #30
it has been solved use the node instead of pass when select the pass domain

[2021-02-20 01:33] #30 closed

[2021-02-20 15:46] gxthrj commented on #24
Any update? @zhangxiaohui123456

[2021-02-23 10:00] ntfs32 commented on #6
+1

[2021-02-25 04:47] gxthrj commented on #6
@tokers Need to update the helm chart repo which we are using.

[2021-02-25 05:10] tokers commented on #6
@gxthrj Currently only apisix-ingress-controller doesn't be added, others were already added.

[2021-02-25 09:01] ncepuwanghui opened #33 "apisix-etcd-0 pod start error when use custom cluster domain on k3s"
The apisix-etcd-0 pod failed to start when installing apisix-helm-chart on a k3s cluster deployed with a custom domain name.

apisix install command as follows:
[code]

The error of apisix-etcd-0 pod is as follows:
[code]

[2021-02-25 09:22] ncepuwanghui commented on #33
I found the cause of the above problem.
The reason is that the cluster domain name of apisix which set by "--set gateway.k8s_domain", is inconsistent with the domain of etcd chart which is dependent on `apisix-helm-chart`.

[`clusterDomain` in values.yaml of etcd chart](https://github.com/bitnami/charts/blob/master/bitnami/etcd/values.yaml#L188)
[`gateway.k8s_domain` in values.yaml of apisix-helm-

[2021-02-25 10:07] tokers commented on #33
@ncepuwanghui Yep, the etcd has its own configuration section.

[2021-02-25 10:07] #33 closed

[2021-02-26 05:28] gxthrj opened #34 "feat: need CI to check whether the helm chart script can run successfully"
Just like other projects, we need to ensure the correctness of the script,
such as CI in  [apache/apisix-docker](https://github.com/apache/apisix-docker/blob/master/.github/workflows/apisix-alpine-docker-test.yaml)

CI in [apache/apisix-ingress-controller](https://github.com/apache/apisix-ingress-controller/blob/master/.github/workflows/e2e-test-ci.yml)

Is anyone interested in adding this CI ?

[2021-03-04 04:37] #28 closed

[2021-03-04 08:04] Yiyiyimu opened #37 "doc: need guidelines to deploy apisix without clone this repo"
For example, `wget` raw files to do certain helm commands, so it would be easier to build apisix.

BTW, after this step, we could add it to installations steps in apisix README

[2021-03-11 03:04] Junnplus commented on #12
You can set values `etcd.persistence.size=100G` and `etcd.persistence.enabled=true` when creating apisix.

[2021-03-11 03:08] Junnplus commented on #15
Supported by  https://github.com/apache/apisix-helm-chart/pull/39

[2021-03-11 03:10] Junnplus commented on #11
Duplicate with https://github.com/apache/apisix-helm-chart/issues/12

[2021-03-11 03:14] Junnplus commented on #8
You need to specify `etcd.persistence.storageClass` to automatically create pvc.

[2021-03-11 03:28] Junnplus commented on #13
pvc is managed by `volumeClaimTemplates`, have a lifetime independent of pods. (This is intentional behavior in k8s.)

[2021-03-11 12:48] tokers commented on #13
@Miss-you I think you need is to set `persistentVolumeReclaimPolicy` to `Delete`.

[2021-03-11 12:52] tokers commented on #8
Can we distinguish the cloud K8S environment so that we can use a special default store class for it.

[2021-03-22 07:34] tokers opened #43 "CRD definition of ApisixRoute/v2alpha1 is missing from charts/apisix-ingress-control/crds"
The newest version of `ApisixRoute` is `v2alpha1`.

[code]

While the CRD definition in charts/apisix-ingress-controller/crds doesn't contain the `v2alpha1`, we should add it.

[2021-03-23 09:18] pioneer-hash commented on #43
Use the above contents  modify Modify customresourcedefinitions yaml file , and then use the Dockerfile play mirror again. you should use helm upgrade the apisix-ingress-controller don`t  uninstall   apisix-ingress-controller then  restart intall apisix-ingress-controller

[2021-03-24 10:26] riskgod opened #44 "After update the apisix-admin to NodePort, still can't visit it on local"
Hey, I'm try to curl the apisix's api to define the router and the upsteams, but it failed(403 Forbidden) to call the local apisix's api, after research, is the allow_admin not setting in apisix's value.yaml?

[2021-03-24 12:04] tokers commented on #44
@riskgod Please give your step to help us reproduce your problem.

[2021-03-24 14:36] gxthrj commented on #43
@pioneer-hash Are you interested in submitting a PR about this ?

[2021-03-25 05:59] riskgod commented on #44
https://github.com/apache/apisix-helm-chart/pull/45
Add pr support here.

[2021-03-25 11:00] #44 closed

[2021-03-25 11:06] riskgod opened #46 "[request help]: 404 not found"
hey, I have run this in my local k8s, and use online debuger to  test 14.215.177.39 this ip in apisix dashboard, that's works! But,  I defined one route named "/index", and linked to the above ip's upstream, That's failed, it tell me 404 not found.
here is my local svc:
![image](https://user-images.githubusercontent.com/3436287/112463384-1f555500-8d9d-11eb-89b7-20728ecaaa24.png)

<img width="954"

[2021-03-25 12:12] riskgod commented on #46
Is this problem?
<img width="472" alt="Screen Shot 2021-03-25 at 20 12 37" src="https://user-images.githubusercontent.com/3436287/112471111-74e22f80-8da6-11eb-8543-5190a70a3088.png">

[2021-03-25 12:33] riskgod commented on #46
<img width="886" alt="Screen Shot 2021-03-25 at 20 32 54" src="https://user-images.githubusercontent.com/3436287/112473399-49ad0f80-8da9-11eb-85b8-0e5f369e5ebf.png">

[2021-03-25 13:06] riskgod commented on #46
<img width="448" alt="Screen Shot 2021-03-25 at 21 06 25" src="https://user-images.githubusercontent.com/3436287/112477428-f7bab880-8dad-11eb-88ff-e7aafe534f56.png">
This still not work

[2021-03-26 02:20] tokers commented on #46
@riskgod As per your diagrams, 30957 is the node port for apisix admin, not the gateway, try 30103 instead.

[2021-03-26 02:52] riskgod commented on #46
get it thank you

[2021-03-26 02:52] #46 closed

[2021-03-29 08:56] wgy-home opened #49 "apisix error:failed to fetch data from etcd: xxxx could not be resolved"
# way to install
[code]

apisix image tag :  apache/apisix:2.3-alpine

## apisix error log
[code]

**But it can be connected through ETCDCTL.**

[code]

Help me, Thanks!

[2021-03-29 12:07] tokers commented on #49
It seems APISIX doens't use the resolver in `/etc/resolv.conf`. Could you please paste the nginx.conf in your APISIX container?

[2021-03-30 02:21] wgy-home commented on #49
This configuration file ?
[code]

I tried to modify the DNS configuration, but it still doesn't work

[code]

I am using Service IP now, it works normally.
[code]

[2021-03-30 12:35] riskgod opened #50 "Can't visit other pod in one Node"
Hey, I deploy a new grpc service in local k8s and this service can visit in my local, but when I use apisix's upstearm to visit it, this not works.
![image](https://user-images.githubusercontent.com/3436287/112989349-65445b80-9197-11eb-90b3-ba85f7a8e764.png)
![image](https://user-images.githubusercontent.com/3436287/112989357-683f4c00-9197-11eb-9e05-ed4a4a493863.png)
![image](https://user-images.g

[2021-03-30 13:16] moonming commented on #50
@gxthrj @tokers  please take a look

[2021-03-31 02:11] tokers commented on #49
Is `10.254.0.2` is the one in `/etc/resolv.conf`?

[2021-03-31 02:21] tokers commented on #50
Interesting problem, I'm working on it.

[2021-03-31 02:29] tokers commented on #50
@riskgod Could you paste the contents of `/etc/resolv.conf` in the APISIX container?

[2021-03-31 02:30] tokers commented on #50
The `search`  configuration in your `/etc/resolv.conf` seems wrong.

[2021-03-31 02:31] tokers commented on #50
![image](https://user-images.githubusercontent.com/10428333/113081916-2997a900-920c-11eb-9fc9-0075b4e8c11f.png)

It should be:
* `grpc-node.default`
* `grpc-node.default.svc`
* `grpc-node.default.svc.cluster.local`

[2021-03-31 02:32] tokers commented on #50
By the way, which k8s distribution are you using?

[2021-03-31 02:44] riskgod commented on #50
hey, I'm use the default helm charts.

[2021-03-31 02:46] riskgod commented on #50
![image](https://user-images.githubusercontent.com/3436287/113083209-5cdb3780-920e-11eb-9929-aabf1f37d810.png)

[2021-03-31 02:48] riskgod commented on #50
![image](https://user-images.githubusercontent.com/3436287/113083307-91e78a00-920e-11eb-9e6c-80b10a730af1.png)

[2021-03-31 09:20] wgy-home commented on #49
**yes**
[code]

[2021-03-31 10:47] tokers commented on #50
@riskgod A little embarrassed, I misunderstood the output of `nslookup` , actually the `grpc-node` service was resolved correctly (target IP address: `10.99.252.250`).

So have you try to access grpc-node through APISIX? if so and it's abnormal, please paste some error log of APISIX.

[2021-03-31 10:56] tokers commented on #49
Does this problem can be reproduced by executing commands like `dig` or `nslookup` in the APISIX container?

[2021-04-01 02:04] riskgod commented on #50
[code]
<img width="1028" alt="Screen Shot 2021-04-01 at 10 03 58" src="https://user-images.githubusercontent.com/3436287/113233336-95901500-92d1-11eb-85a9-cf2d0817322d.png">

[2021-04-01 02:13] riskgod commented on #50
![image](https://user-images.githubusercontent.com/3436287/113233964-f5d38680-92d2-11eb-9b31-47c7680bcab0.png)

[2021-04-01 03:41] riskgod commented on #50
<img width="402" alt="Screen Shot 2021-04-01 at 11 41 17" src="https://user-images.githubusercontent.com/3436287/113240378-2e795d00-92df-11eb-84f7-8b954bcf511b.png">
in grpc-node curl apisix not works too.

[2021-04-01 05:20] gxthrj commented on #50
I don’t know much about the working mechanism of GRPC in APISIX, and I’m not sure if It will use local DNS resolution.
cc @spacewander

BTW, You can try to use pod IP instead of internal domain name configuration to upstream. @riskgod

[2021-04-01 06:08] riskgod commented on #50
the Pod IP still not works

[2021-04-01 12:08] tokers commented on #50
@riskgod The above problem is not related to DNS. The problem `404 Route Not Found` means you don't configure a Route correctly, or you have configured one but you don't use correct URI, Host when you send a request to APISIX.

Also, please paste your Route configuration.

[2021-04-02 03:54] wgy-home commented on #49
ipv4 can be parsed normally,But I have disabled IPv6 in the cluster.
[code]

[2021-04-02 10:14] riskgod opened #52 "The rancher useage"
Do we have a guide about how to deploy apisix in rancher?

[2021-04-02 10:14] riskgod commented on #50
hey the 404 err from pod not in apisix, will close this issue, this is a net err.

[2021-04-02 10:14] #50 closed

[2021-04-03 03:07] tokers commented on #52
http://apisix.apache.org/docs/ingress-controller/deployments/k3s-rke
We have tested the deployment on k3s and RKE, steps are similar to other platforms.

[2021-04-03 03:13] tokers commented on #49
@wgy-home Does this problem exist continuously? In theory, APISIX should parse the etcd ClusterIP normally since it uses the correct nameserver.

[2021-04-06 04:04] iamayushdas commented on #43
Its done already you can close the issue.

[2021-04-06 05:51] wgy-home commented on #49
Yes, there have always been problems, but now I'm using Service IP.
It can be repeated at any time！

[2021-04-06 09:44] #52 closed

[2021-04-06 15:04] LLLLimbo opened #54 "Liveness probe failed after helm install"
## Issue description
Liveness probe failed after helm install.

Run ```kubectl describe pods apisix-apisix-dashboard-5d45f878bb-5zgg6 -n ingress-apisix```, I gor following output:

[code]

## Expected behavior
Liveness probe succeeds.

## How to Reproduce

1.```helm repo add bitnami https://charts.bitnami.com/bitnami```
2.```helm repo add apisix https://charts.apiseven.com```
3.```helm repo update

[2021-04-07 01:07] tokers commented on #43
Thanks for your notification:)

[2021-04-07 01:07] #43 closed

[2021-04-08 03:01] zhangwenjian opened #55 "用helm install apisix-gw ./apisix命令安装后，dashboard访问etcd失败"
When custom name used in helm install command is not same with the service name defined in values.yaml, the dashboard will fail to access etcd service.

Labels below must be vairables:

[root@master01 ~]# grep apisix-admin ./apisix -R
./apisix/templates/service-admin.yaml:  - name: apisix-admin
./apisix/charts/apisix-ingress-controller/values.yaml:    baseURL: "http://apisix-admin:9180/apisix/admi

[2021-04-08 03:08] tokers commented on #55
You should also pass the custom apisix admin service fullname when you installing apisix-ingress-controller by:

[code]

By the way, we'd better to use English in public channel.

[2021-04-09 04:54] KishaniKandasamy opened #56 "Duplicate titles appear in the website"
![Screenshot (107)](https://user-images.githubusercontent.com/53715187/114130199-acf87f00-991d-11eb-9f78-ad555b4a0cae.png)

[2021-04-13 05:46] KishaniKandasamy commented on #56
Hi , even the commit was merged it  still shows the same(like Duplicate titles ) as before🤔
@juzhiyuan  @tokers  @membphis

![Screenshot (113)](https://user-images.githubusercontent.com/53715187/114502554-94ec6c80-9c49-11eb-8bbf-4570c4b34661.png)

[2021-04-13 05:51] juzhiyuan commented on #56
Hi, does this title removed from original markdown file content?

[2021-04-13 05:55] KishaniKandasamy commented on #56
#57

[2021-04-13 08:10] juzhiyuan commented on #56
ok, let me reopen & check

[2021-04-13 18:30] KishaniKandasamy commented on #56
yes 👍🏻

[2021-04-14 11:28] juzhiyuan commented on #56
https://apisix.apache.org/docs/helm-chart/apisix-ingress-controller

[2021-04-14 11:28] #56 closed

[2021-04-20 00:41] tokers opened #64 "Support to mount custom plugin directories/volumes"
Sometimes people may need to mount their own plugins and enable them, currently, it's not easy to do this.

[2021-04-20 07:09] BLasan commented on #37
@Yiyiyimu Hi, can't we publish the helm chart into to [artifacthub](https://artifacthub.io/) and install it via the helm command

[2021-04-20 11:05] tokers commented on #37
We already published them to artifacthub, see https://artifacthub.io/packages/search?page=1&ts_query_web=apisix.

[2021-04-20 13:33] Yiyiyimu commented on #37
Hi @BLasan Yes but we still need to clone this repo first, then do helm install, which is kind of annoying, to me.

[2021-04-22 09:46] kingGang opened #67 "helm 安装apisix 启动tls 安装报错"
- env
  - azure k8s 1.18.14
  - apisix 2.4-alpine
  - dashboard 2.5
  - etcd 默认网上拉取的
  - controller 0.5.0
- 修改配置
   apisix-helm-chart/charts/apisix/values.yaml
     22行：image.tag:2.4-alpine
     53行： gateway.tls.enabled: true
     60行： gateway.ingress.enabled: true
- 执行过程
   1、helm dependency update charts/apisix/
Getting updates for unmanaged Helm repositories...
...Successfully got an update fro

[2021-04-22 09:56] tokers commented on #67
Is this a typo?

@kingGang You need to provide at least one host + path configuration for Ingress, currently, there is no default pair for that.

[2021-04-22 10:00] tokers commented on #67
Such as: --set 'gateway.ingress.hosts[0].host=apisix.local' --set 'gateway.ingress.hosts[0].paths={/*}'.

[2021-04-22 10:05] kingGang commented on #67
不好意思，是写错了，已经改过来了！
我是希望通过crd的方式去配置host和path

[2021-04-22 10:16] kingGang commented on #67
非常感谢，按照你的方法我已经成功了！

[2021-04-22 10:42] tokers commented on #67
You're welcome.

[2021-04-22 10:42] #67 closed

[2021-05-09 09:32] tao12345666333 opened #70 "proposal: restructure the apisix-helm-chart repo"
Currently we provide three available charts:

* apisix
* apisix-dashboard
* apisix-ingress-controller

But both apisix-dashboard and apisix-ingress depend on apisix to work properly (and apisix is the core).

Now in our documents, for example, [in the installation steps of apisix-ingress](http://apisix.apache.org/docs/ingress-controller/deployments/ack), apisix needs to be deployed first, and then

[2021-05-09 09:33] tao12345666333 commented on #70
cc @tokers @gxthrj

[2021-05-09 11:29] tokers commented on #70
That's cool, +1

By the way, currently, apisix-ingress-controller and apisix-dashboard were set as dependencies of apisix, but the repositories are wrong, which results in apisix-ingress-controller and apisix-dashboard will be installed unconditionly.

[2021-05-09 11:30] tokers commented on #70
We may also support upgrading one of the components.

[2021-05-09 11:51] tao12345666333 commented on #70
let me fix it.

[2021-05-09 11:52] tao12345666333 commented on #70
sure.

[2021-05-09 14:28] gxthrj commented on #70
Do we only need to provide one APISIX charts? `Ingress` and `dashboard` use different templates to manage  in this charts.

[2021-05-09 15:47] tao12345666333 commented on #70
@gxthrj We can only provide one APISIX chart, but I want to retain the three (all of our projects can **only using APISIX chart in docs/guides**)

The reason for retaining the other two is that we support the deployment of APISIX in non-k8s environments, or pre-deployment of APISIX. (of course, this can also be done by providing a switch in the chart of APISIX)

[2021-05-10 02:23] tao12345666333 commented on #70
please assign to me

[2021-05-13 02:21] tokers opened #75 "Test charts in CI"
We may add some tests in CI so that we can verify the correctness for new changes.

@tao12345666333 @gxthrj @membphis

[2021-05-13 03:47] tao12345666333 commented on #75
please assign to me.

[2021-05-17 03:14] tao12345666333 opened #76 "Observability support"
we should add `ServiceMonitor` resource for observability.

[2021-05-17 07:04] lingsamuel opened #77 "apiextensions.k8s.io/v1beta1 will be unavailable in k8s v1.22.0+"
Deprecated in v1.16: kubernetes/kubernetes#79604

Migration guide: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

[2021-05-17 17:20] tao12345666333 opened #78 "bug: RBAC insufficient permissions"
[code]

[2021-05-20 02:10] tao12345666333 commented on #76
please assign to me. @tokers  @gxthrj

[2021-05-20 16:04] gxthrj commented on #76
agree +1

[2021-05-21 02:22] #78 closed

[2021-05-24 01:28] #75 closed

[2021-05-28 07:13] lingsamuel opened #85 "bug: update RBAC and CRD"
See apache/apisix-ingress-controller/pull/514

[2021-06-02 17:26] BenB196 opened #88 "Apisix Gateway Ingress ```externalTrafficPolicy``` missing setting"
Currently, you are unable to change ```externalTrafficPolicy``` via the apisix helm chart for the [service gateway template](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/templates/service-gateway.yaml).

This is useful if you want to change from ```Cluster``` to ```Local```

[2021-06-02 20:01] tao12345666333 commented on #88
thanks！

/assign

[2021-06-03 03:55] #85 closed

[2021-06-03 03:56] #76 closed

[2021-06-03 11:01] #88 closed

[2021-06-04 00:36] Yiyiyimu commented on #37
Fixed by #91

[2021-06-04 00:36] #37 closed

[2021-06-04 01:19] Yiyiyimu opened #92 "add instruction on install apisix only and etcd cluster"
- install apisix only
https://github.com/apache/apisix-helm-chart/blob/605c0c5520fe2b9b7724df3269b5471f14d88db4/charts/apisix/values.yaml#L215-L220
It seems by default install apisix would not install dashboard and ingress controller together, but when following the guidance, it still installs all three componenents. Tried to override with `helm install apisix apisix/apisix --set dashboard.enabled

[2021-06-04 10:52] tokers commented on #92
@Yiyiyimu Have you ever tried to clone this repo and use the local helm chart templates?

[2021-06-04 14:21] tao12345666333 commented on #92
I think this may be due to a problem with the package we published to the Helm repo.

If you clone this repo, you can go through

[code]

[2021-06-04 15:11] tao12345666333 commented on #92
I will submit a PR to update Helm chart version.

[2021-06-04 15:15] tao12345666333 opened #94 "need verification in CI"
We should add a check in CI to determine whether the dependency in Chart.yaml is consistent with our cached dependency

[2021-06-07 01:30] Yiyiyimu commented on #92
Install with local helm chart could success with only apisix and etcd. Waiting for the updates

[2021-06-07 01:31] Yiyiyimu commented on #92
Thanks for the reply and are we fixing this? Another question is that is there any way to install an etcd cluster?

[2021-06-07 01:51] tokers commented on #92
You mean just installing ETCD? just use the `bitnami/charts`.

[2021-06-07 02:29] Yiyiyimu commented on #92
Thanks for the suggestion! Yes I could configure `bitnami/etcd` with [`replicaCount`](https://github.com/bitnami/charts/tree/master/bitnami/etcd#etcd-statefulset-parameters), but failed to find the way to configure it as subchart 😿. Like when I do `helm install apisix .`, which kind of parameter should I use.

[2021-06-08 01:11] tokers commented on #92
Please see https://helm.sh/docs/chart_template_guide/subcharts_and_globals/ for the details.

[2021-06-08 01:36] Yiyiyimu commented on #92
I've gone through that page before but it does not mention how to deal with this situation

[2021-06-09 01:30] tokers commented on #92
Define the required configuration snippet for ETCD subchart in the `values.yaml` in APISIX chart.

[2021-06-11 04:12] Yiyiyimu commented on #92
Just realized we are using etcd helm chart in 5.2.1 which has a different schema on `replicaCount` with the latest version ([ref](https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600)). Bumped to latest in #99

---

The first problem got fixed after #96

[2021-06-14 07:49] #92 closed

[2021-06-21 04:12] TIEDPAG opened #105 "question: etcd can't start when enable securityContext"
### 信息
version:  0.3.4

### 问题：
使用官网教程使用helm安装apisix时，出现etcd无法启动的问题，使用的命令如下：
[code]
查看etcd日志错误如下：

[2021-06-21 04:21] TIEDPAG commented on #105
前往查看bitnami/etcd 的helm chart，发现如下：
![image](https://user-images.githubusercontent.com/24646612/122706444-8a260780-d28a-11eb-8d2e-0a2bafc758fa.png)
检查values.yaml文件：
[code]

尝试把volumePermissions设置为true，etcd正常启动，apisix也正常启动了

[2021-06-21 04:21] TIEDPAG commented on #105
前往查看bitnami/etcd 的helm chart，发现如下：
![image](https://user-images.githubusercontent.com/24646612/122706444-8a260780-d28a-11eb-8d2e-0a2bafc758fa.png)
检查values.yaml文件：
[code]

尝试把volumePermissions设置为true，etcd正常启动，apisix也正常启动了

[2021-06-21 04:22] TIEDPAG commented on #105
是否考虑在apisix的charts里将subchart的变量覆盖

[2021-06-21 06:12] tao12345666333 commented on #105
Thanks for the report.

Does your cluster enable securityContext by default? I can successfully deploy and run in a k8s cluster that uses kubeadm's default installation.

you can pass `--set etcd.volumePermissions.enabled=true` to `helm install` commands.

[2021-06-21 07:56] TIEDPAG commented on #105
我的集群已启用了securityContext，我使用的k8s版本是1.18.17
目前使用了`--set etcd. volumePermissions .enabled=true`解决

[2021-07-06 07:07] tao12345666333 commented on #105
@TIEDPAG can we close this?

[2021-07-06 07:10] #105 closed

[2021-07-07 17:39] dickens7 opened #111 "feat: Optimize configuration items, add etcd.prefix and schema"
Optimize configuration items, add etcd.prefix and schema

[2021-07-08 02:33] tokers commented on #111
@dickens7 You mean this? https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml#L202

[2021-07-08 03:45] arabot777 opened #113 "Can an external etcd cluster be used to install dashboard using helm？"
I use command
`helm install apisix apisix/apisix \
--set ingress-controller.enabled=true \
--set dashboard.enabled=true \
--set etcd.enabled=false \
--set etcd.host={http://192.168.252.184:2379\,http://192.168.252.106:2379} \
--set admin.allow.ipList="" \
--namespace ingress-apisix`
to install them.
apisix and apisix-controller is installed successfully，but dashboard is failed. The error logs is
!

[2021-07-08 09:02] dickens7 commented on #111
yes

[2021-07-08 11:01] tokers commented on #111
Then we have supported it.

[2021-07-08 11:04] tokers commented on #113
@arabot777 See https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml#L199 for details.

[2021-07-08 11:29] dickens7 commented on #111
I'm sorry that the understanding is wrong here, it should be the etcd.prefix configuration of the corresponding apisix-dashboard here.

https://github.com/apache/apisix-dashboard/blob/master/api/conf/conf.yaml#L48

This PR is for apisix-dashboard.

[2021-07-14 11:46] CloudXiaobai commented on #113
same issues to me.  the **{{ .Values.conf.config.etcd.endpoints}}** on  apisix-dashboard  cannot be inherited by apisix charts.
You can manually modify the apisix-dashboard's configmap to resolve this.

[2021-07-19 12:19] arabot777 opened #115 "the apisixconsumers is missing which is resource of apiGroups defined as "apisix.apache.org" in the apisix-clusterrole object"
### Environment
apisix-ingress-controller version:
Version: 0.6.0
Git SHA: no-git-module
Go Version: go1.13.8
Building OS/Arch: linux/amd64
Running OS/Arch: linux/amd64

### Kubernetes install by minkube v1.17.0
### Kubernetes cluster version:
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildD

[2021-07-19 13:26] gxthrj commented on #115
@arabot777 Please update the `apache/apisix-helm-chart` , `ApisixConsumers` has been added in master. https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/templates/rbac.yaml#L148-L149

[2021-07-20 02:14] arabot777 commented on #115
### I am sure I am using the latest code.
### The operation is following:
1.  firstly no pods
![image](https://user-images.githubusercontent.com/30978207/126251381-b57da2f7-1d8f-49d2-8466-c744cbc317a7.png)
 2.  secondly install
![image](https://user-images.githubusercontent.com/30978207/126251600-4f8dd8ab-62df-467d-a5b8-4584c421de9e.png)
3.  At last look logs
![image](https://user-images.githubuse

[2021-07-20 02:24] tao12345666333 commented on #115
@arabot777 please run `helm list -n apisix`

[2021-07-20 06:23] arabot777 commented on #115
![image](https://user-images.githubusercontent.com/30978207/126271831-fed4a1b3-7c51-494f-bd5b-eb61cca9756d.png)

[2021-07-22 08:58] tao12345666333 commented on #115
Because we are using sub-charts vendor mode, after the sub-chart of the apisix-ingress and apisix-dashboard is updated, we need to re-vendor it.

Open a PR #116 to fix this.

[2021-07-22 09:03] #115 closed

[2021-07-23 16:09] lijingrs opened #117 "mkdir: cannot create directory '/bitnami/etcd': Permission denied"
mkdir: cannot create directory '/bitnami/etcd': Permission denied

is this ok?

![image](https://user-images.githubusercontent.com/20733031/126810598-e8e6f3ea-4bf1-46a0-8536-2189e150bba3.png)

[2021-07-24 10:50] tokers commented on #117
@JackLiMEM Which directory were used in the host as the binding of this one in the container.

[2021-07-25 01:30] JackLiMEM commented on #117
"containerdRootDir": "/var/lib/rancher/k3s/agent/containerd",
    "containerdEndpoint": "/run/k3s/containerd/containerd.sock",
    "rootDir": "/var/lib/rancher/k3s/agent/containerd/io.containerd.grpc.v1.cri",
    "stateDir": "/run/k3s/containerd/io.containerd.grpc.v1.cri"

[2021-07-25 11:52] tao12345666333 commented on #117
please see https://github.com/apache/apisix-helm-chart/issues/105#issuecomment-864757267

[2021-07-27 05:12] tutuV opened #119 "the pod is pending, just follow the official website steps"
只是按照官网步骤，继续安装，没有正常运行 。
Just follow the official website steps, continue to install, did not work properly.

是不是需要自己创建pv，供etcd使用？
Do I need to create PV for etcd use?

![image](https://user-images.githubusercontent.com/49155687/127098820-6eeaf5ba-957c-42cb-b3ba-a2629b054e66.png)

![image](https://user-images.githubusercontent.com/49155687/127098850-6a8c1b67-be25-4949-8992-f6a5e62a4a46.png)

kubectl

[2021-07-27 10:58] tokers commented on #119
@tutuV Some contexts we required to troubleshoot this issue.

1. What's your Kubernetes version?
2. 2. What's your Kubernetes distro?

[2021-07-27 11:02] tao12345666333 commented on #119
This problem should be related to the configuration of your cluster.
You can check https://github.com/bitnami/charts/tree/master/bitnami/etcd project and modify the persistence configuration

https://github.com/bitnami/charts/tree/master/bitnami/etcd#persistence-parameters

[code]

[2021-07-28 01:51] tutuV commented on #119
1.21.0  安装在本地环境

[2021-07-28 01:55] tutuV commented on #119
1.21.0    安装在本地环境中。下面是kubeadm-config.yaml文件的内容
![image](https://user-images.githubusercontent.com/49155687/127251228-ac57ddb3-175c-48d3-858e-2d64f24337e7.png)

[2021-07-28 01:59] tutuV commented on #119
@tokers
1.21.0 安装在本地环境中。下面是kubeadm-config.yaml文件的内容
![image](https://user-images.githubusercontent.com/49155687/127251572-ca83277e-84a9-4850-a02c-d3c7a124386c.png)

[2021-07-28 02:01] tutuV commented on #119
@tokers 1.21.0  本地安装的。下面是kubeadm-config.yaml内容：
![image](https://user-images.githubusercontent.com/49155687/127251727-e3a91d2c-547f-47d2-ab16-983af9e2209a.png)

[2021-07-28 02:11] tutuV commented on #119
@tao12345666333 你的意思是，下载 apisix-helm-chart包，解压 apisix-helm-chart/charts/apisix/etcd-6.2.6.tgz ，修改相关配置，再次helm  package  etcd 。上述操作完成后，再安装apisix ?
问题是，修改那些配置呢 ？
------------------------------------------------
What you mean is, download the apisix-helm-chart package, decompress the apisix-helm-chart/charts/apisix/etcd-6.2.6.tgz, modify the relevant configuration, and ' helm package etcd' again. Afte

[2021-07-28 03:07] tao12345666333 commented on #119
https://github.com/bitnami/charts/tree/master/bitnami/etcd#persistence-parameters

You can change the `persistence.storageClass` to your storageClass. And you need to ensure that you have an available storageClass resource https://kubernetes.io/docs/concepts/storage/storage-classes/

[2021-07-28 09:28] tutuV commented on #119
@tao12345666333  helm install apisix apisix/apisix  \
    --set admin.allow.ipList="" \
    --set etcd.volumePermissions.enabled=true \
    --namespace ingress-apisix

静态绑定pv卷，再执行上述命令可以成功。注意，accessModes： ReadWriteOnce
你说的那种方式没尝试。
吐槽下官网文档。不用自己创建pv 也可以 的说法 是错误的。
你为什么把这个标记成 question ？！这对照官网文档来说 ，就是个问题 ！！！
--------------
The PV volume can be statically bound and the preceding command can be executed s

[2021-07-28 09:32] tao12345666333 commented on #119
feel free to reopen it, if you think it's a problem

[2021-07-28 09:37] tao12345666333 commented on #119
This document will only cover how to deploy apisix. Note that etcd is one of our dependencies, we use the bitnami/etcd chart.

If you don't want to use bitnami/etcd chart, or you are not familiar with Kubernetes, you can also follow this article https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/practices /the-hard-way.md#etcd-installation

[2021-07-28 10:10] tutuV commented on #119
@tao12345666333 非常谢谢。稍后我再了解一下。其实你可以讲中文，国际化 不一定非得是英文。

[2021-07-28 17:48] jerry3k commented on #117
did you try chmod 777 on the host dir ?

[2021-07-29 00:39] tao12345666333 opened #120 "CI: host helm charts on GitHub pages."
Currently our publishing process is not fully automated, and the content in https://charts.apiseven.com and GitHub are not synchronized in real time, which is not conducive to the open source collaboration of this project.

I think we can host helm charts on GitHub pages. I have tested successfully in my fork repo.

[code]

We need to solve a few problems to apply these changes to this project:

-

[2021-07-29 01:09] JackLiMEM commented on #117
Thanks,It seems that it was caused by the k8s version upgrade and this can really solve this problem

[2021-07-29 02:23] tokers commented on #120
That'd be better for the maintainment. cc @juzhiyuan We need your kindly help with step 2 .

[2021-07-29 02:26] juzhiyuan commented on #120
@tokers What should I do in the DNS portal? Just set 3xx to `https://apache.github.io/apisix-helm-chart`?

[2021-07-30 10:30] #120 closed

[2021-07-31 11:06] #119 closed

[2021-07-31 11:07] tutuV commented on #119
已经解决。官网文档太乱，自己消化理解后，就可以了。

[2021-08-03 04:43] tao12345666333 opened #124 "feat: Observability for Apache APISIX"
like this one #87

ref: https://github.com/apache/apisix/issues/4744

[2021-08-10 11:16] zhangbing17 opened #128 "What should I do next"
I have carried out the following orders
![(~2E1~@S_UNX4 W3%BR% _3](https://user-images.githubusercontent.com/23377580/128857371-25e58aca-70a1-4bff-a070-46ce3f672d88.png)
It pops up
![image](https://user-images.githubusercontent.com/23377580/128857415-48ad5260-dbc1-4863-9178-792e7dda3f4b.png)
So what do I do in step 3 here

![J4JA88O7DBJYUT6$K3K%OZ5](https://user-images.githubusercontent.com/233775

[2021-08-11 03:34] #128 closed

[2021-08-11 08:34] zhangbing17 opened #129 "I installed this with helm, but I can't find the route by accessing the API"
![image](https://user-images.githubusercontent.com/23377580/128997098-6f90c2ac-1a7c-4e86-94fe-3846e87e372a.png)

I installed this with helm, but I can't find the route by accessing the API

[2021-08-11 10:45] zhangbing17 commented on #129
![image](https://user-images.githubusercontent.com/23377580/129000417-0512be29-0282-42f7-ab8c-e21bab60cf3e.png)
this is config ,

[2021-08-11 10:45] #129 closed

[2021-08-14 06:25] yangtian9999 opened #130 "external ip issue when change from Nodeport to LB ingress in value file"
Hi,

When I change to use ingress for gateway in the helm value file, the service could not get external IP for the ingress.

gateway:
  #type: NodePort
  # If you want to keep the client source IP, you can set this to Local.
  # ref: https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip
  externalTrafficPolicy: Cluster
  type: L

[2021-08-14 16:09] a95241815 opened #131 "error when install apisix with helm3.6.3"
I install apisix as follow:
[code]
an error occur like "CustomResourceDefinition is deprecated"

[2021-08-15 10:53] tokers commented on #131
Is it related to the version of CRD? Don't worry about it, it's now harmless and we are about to use the v1 version of CRD in the future.

[2021-08-15 10:55] tokers commented on #130
Please provide more details about your apisix ingress controller and kubernetes versions.

[2021-08-15 11:01] tao12345666333 commented on #131
/assign

[2021-08-17 13:18] yangtian9999 commented on #130
1.19.8 installed by rke.

At very first, I used default helm value to install apisix. Then I used rancher to setup ingress for service with port 9080.

Apisix dashboard was bind to ingress successfully.

But gateway 9080 failed.

[2021-08-17 13:30] tokers commented on #130
The ingress class in your resource is `nginx` and it won't be watched by apisix ingress controller.

[2021-08-17 13:30] tokers commented on #130
Just try to change it to `apisix` and see what happens.

[2021-08-18 02:14] yangtian9999 commented on #130
The following yaml was generated by rancher default ingress.  You mean that I can not use rancher default nginx-ingress?
I tried just moment ago, I used default helm values to install apisix, and then use rancher default ingress to setup, still can not use the host normally.

Thanks.

development environment:  k3s+1.20.8, rancher 2.5.7

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  anno

[2021-08-18 04:18] yangtian9999 commented on #130
sorry, @tokers ,  i will use your comments to update values and try again.

Thanks for your help.

[2021-08-18 05:08] yangtian9999 commented on #130
Hi, @tokers

helm install got error message:
Error: Ingress.extensions "apisix" is invalid: spec.rules[0].http.paths[0].path: Invalid value: "map[backend:map[service:map[serviceName:apisix-gateway servicePort:80]] path:/ pathType:Prefix]": must be an absolute path

I tried many times by  this:

gateway:
  type: NodePort
  # If you want to keep the client source IP, you can set this to Local.
  # r

[2021-08-18 10:14] tokers commented on #130
The default ingress controller is ingress-nginx in rancher, and ingress resources with `kubernetes.io/ingress.class: nginx
` won't be processed by apisix ingress controller.

[2021-08-22 13:55] #131 closed

[2021-08-22 13:56] a95241815 commented on #131
thank u

[2021-08-23 02:29] currycan opened #133 "no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1""
Hi,
    I tried to setup apisix with helm，but it failed as follow:

[code]

the k8s version and helm version is:

[code]

[2021-08-23 02:31] tao12345666333 commented on #133
/assign let me fix it

[2021-08-23 10:52] tokers commented on #133
@currycan See https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-several-beta-kubernetes-apis for details.

CRD in `vebeta1` was no longer supported since Kubernetes/1.22

[2021-08-23 14:35] yangtian9999 commented on #130
problem fixed.

use default value and helm command to install.

Then, use apisix-gateway http service 80 port and nginx-ingress to setup the hostname in rancher.

Finally, we can use rancher default nginx-ingress host name for apisix-gateway which was deployed within the same k8s

[2021-08-23 14:35] #130 closed

[2021-08-25 06:51] Areturn opened #134 "Unable to use apisix.apache.org/v2beta1 ApisixRoute"
![微信截图_20210825143903](https://user-images.githubusercontent.com/25275823/130740016-3347d3c5-7ee9-4e10-952d-09c0a47928a6.png)
![image](https://user-images.githubusercontent.com/25275823/130740028-7b948b51-c48f-44b4-964b-8ebd96459485.png)
![QQ图片20210825144731](https://user-images.githubusercontent.com/25275823/130740260-0aa6d657-ef47-459b-882c-cf019dd0078e.png)
![QQ图片20210825144739](https://user-im

[2021-08-29 13:40] gxthrj commented on #134
The `apisix.apache.org/v1` is the latest release version, the priority is higher than v2beta1, but it does not affect the use.
v2beta1 should be able to sync normally. If you can’t sync normally, please show the error log of ingress. There should be reasons why it can’t be synced.

[2021-08-30 06:27] suninuni opened #137 "request help: n-1 apisix pods recreated when deploy without changes"
### Issue description

Deploy steps:

- use `helm template`to generate yamls for K8S.
- use `kubectl apply -f ` to apply all files.

But when I run these steps without change anything, some of Apisix pods recreated, but one of the Apisix pod still be Running.

![2021-08-30_14-18-35](https://user-images.githubusercontent.com/7345529/131294080-f8315732-9062-4b97-8772-8aa85787b6f5.png)

![2021-08-30_

[2021-08-30 12:04] geekgao opened #138 "request help: Install Ingress from Helm, failed to download "charts/apisix""
### Issue description

I want use Ingress so I followed the documentation instructions to install using helm. But I encountered a problem.

[code]

### Environment

- apisix version (cmd: `apisix version`): Ingress version on  latest document
- OS (cmd: `uname -a`):Linux ecs-c81b-4b2d 3.10.0-1160.15.2.el7.x86_64 # 1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- OpenResty / Nginx

[2021-08-30 13:45] tokers commented on #138
@geekgao You should add the apisix repo: https://charts.apiseven.com.

[2021-08-30 13:50] tokers commented on #137
Before you apply these manifests, Are there some legacy APISIX workloads in the Kubernetes cluster?

[2021-08-30 13:51] tokers commented on #137
You may try to compare the Deployment in the current manifests and the one recorded in the Deployment annotation: `kubectl.kubernetes.io/last-applied-configuration `.

[2021-08-30 15:44] tao12345666333 commented on #138
At the beginning of the document, it is written that you should clone a GitHub repo first

[2021-08-30 17:03] geekgao commented on #138
Oh, see, my eyes are clumsy. Thank u all. 😊  @tokers
I will try it again.

[2021-08-30 17:03] #138 closed

[2021-08-31 01:25] suninuni commented on #137
My fault, there is a hpa left in the cluster but not deleted.

[2021-08-31 01:25] #137 closed

[2021-08-31 08:09] geekgao opened #139 "I want custom a plugin for Ingress controller"
I want custom a plugin for Ingress controller. It seems that the documentation description is missing?
Does anyone know how or best practice articles?

[2021-08-31 08:16] tao12345666333 commented on #139
you can see our e2e test case about how to using plugin https://github.com/apache/apisix-ingress-controller/tree/master/test/e2e/plugins

[2021-09-02 09:35] liuxiran opened #140 "Bug: could not change the user password by configmap"
come from user report in wechat group `APache APISIX 交流群`
wechat ID：Alec

APISIX docer image: apache/apisix:2.7-alpine
APISIX dashboard image：apache/apisix-dashboard:2.7
build on k8s

config map:
![configmap](https://user-images.githubusercontent.com/2561857/131820291-32b613f7-d75e-4709-ad5e-018fa40672c7.png)

部署后的cm文件：
![cmfile](https://user-images.githubusercontent.com/2561857/131820431-1ea6099f

[2021-09-02 10:51] tokers commented on #140
Since we don't mount the whole directory with the `ConfigMap`, users changed the `ConfigMap` resource manually have to restart the apisix-dashboard workload.

You may just use `kubectl rollout restart deployment {name of apisix-dashboard deployment}` to let it restart.

[2021-09-06 05:08] wjmmjr commented on #140
The problem has been solved：delete the pod and restart it

[2021-09-07 13:36] dongqisilent opened #141 "feat:apisix-ingress-controller can customize apisix image version?"
I customize some plugin in apisix, in apisix-ingress-controller ,how can I deploy it  if apisix image version not support?

[2021-09-07 14:26] tao12345666333 commented on #141
just set `apisix.image.tag `

[2021-09-08 01:54] GeorGeWzw commented on #105
@TIEDPAG 我不知道这个文件values.yaml在那

[2021-09-08 01:56] TIEDPAG commented on #105
你不太了解helm吧？apisix使用的是https://github.com/bitnami/charts/tree/master/bitnami/etcd作为subchart，上面我们也讨论了，直接helm install --set etcd.volumePermissions.enabled=true就好了

[2021-09-08 01:59] GeorGeWzw commented on #105
@TIEDPAG 已经找到了，谢谢

[2021-09-08 08:46] liuxiran commented on #140
Thanks for your feedback @wjmmjr , next time you can try the command line.

[2021-09-08 08:46] #140 closed

[2021-09-15 12:26] hotbaby opened #144 "etcd-server start failure"
apisix-etcd-0 log
[code]

[code]

[code]

[2021-09-16 01:22] tokers commented on #144
The ETCD logs reported the communication between these instances is aborted, be sure the Kubernetes pod networking is healthy (check the CNI running status).

[2021-09-26 09:58] eno16777736 opened #147 "helm安装的apisix 2.9 之后一直有error报错，但并不影响功能使用"
### Issue description

helm安装的apisix 2.9 之后一直有error报错，但并不影响功能使用；报错日志如下：
![image](https://user-images.githubusercontent.com/37285753/134795652-4d1dbecc-a12e-43b8-b4e5-d119e31bf041.png)
请问这是什么引起的报错？
### Environment

- apisix version (cmd: `apisix version`): 2.9
- OS (cmd: `uname -a`): Amazon Linux
- OpenResty / Nginx version (cmd: `nginx -V` or `openresty -V`):
- etcd version, if have (cmd: run `cur

[2021-09-26 09:59] spacewander commented on #147
Look like the skywalking plugin is enabled by mistake? CC @tao12345666333

[2021-09-26 10:00] tao12345666333 commented on #147
let me take a look.

[2021-09-26 10:02] tao12345666333 commented on #147
@eno16777736 Can you please provide your Helm install commands?

[2021-09-26 10:23] daputaowang opened #148 "Can we provide the ARM version of helm?"
Installing ingress in an ARM environment is difficult, can we provide the ARM version of helm?

[2021-09-26 11:19] tokers commented on #148
Basically, you only need to use the apisix (or its ingress controller and dashboard) images when you want to deploy it to ARM env.

[2021-09-26 11:19] tokers commented on #148
Others are not related to the architecture.

[2021-09-29 14:38] endersonmenezes commented on #119
This issue help me, thx! :)

[2021-10-06 15:42] tao12345666333 commented on #119
@endersonmenezes I'm glad to help you, do you encounter any other problems in use？

[2021-10-09 14:50] 8thblock opened #153 "No joy on docker desktop or Digital Ocean k8s"
Evaluating APISIX to replace our NGINX ingress and it does not seem to work on Kubernetes cluster that comes as a default with Docker Desktop

Here are the details:
OS: mac OS
Env: k8s that comes with docker desktop
Installed by:
[code]
Chart used:
[code]

Everything installed ok:
[code]

However: No  routes are registering if I try and upon close inspection I noticed there are plenty of errors in

[2021-10-09 16:52] 8thblock commented on #153
Alas exact same issue in the k8s cluster on Digital Ocean ...

[2021-10-09 20:48] tao12345666333 commented on #153
Can you please run `kubectl get ar -A` ?

[2021-10-09 20:52] tao12345666333 commented on #153
And what's your k8s version? For kubernetes v1.22+ it using CRD v1 apiversion. We have completed the adaptation and will release it in the v1.3 version of apisix-ingress. This version will be released next week.

[2021-10-09 21:18] 8thblock commented on #153
Server Version: v1.19.7

[2021-10-09 21:20] 8thblock commented on #153
Let me reinstall and give you a list of routes

[2021-10-10 10:36] tokers commented on #153
@8thblock If you want to use online helm repo to install Apache APISIX & the Ingress Controller, you should use the correct repo address, i.e. https://charts.apiseven.com.

As for the running issue, I checked out the error.log and there are some logs just like:

[code]

Could you try to access the `apisix-admin:9180` manually, and paste the result here?

[2021-10-10 13:07] tao12345666333 commented on #153
can you try to delete apisix-ingress pod?

[2021-10-10 13:13] 8thblock commented on #153
Seems to have solved the issue. Let me quickly try the router

[2021-10-10 13:20] 8thblock commented on #153
Can confirm it is all working now! Thank you for your help

[2021-10-10 13:21] #153 closed

[2021-10-10 13:22] tao12345666333 commented on #153
Next week apisix-ingress v1.3 will be released, and the Helm chart will be updated at that time.
Thanks for your quick confirmation.

[2021-10-12 03:50] youngwookim opened #156 "etcd is crashing when upgrading chart to 0.6.0"
I've been running apisix chart version 0.4.0 and now I am upgrading the chart to 0.6.0.

I got an error from etcd pod like following messages:
[code]

The etcd pod keep crashing.

[2021-10-13 01:41] tokers commented on #156
@youngwookim Strange, could you try to roll back this upgrade and see whether the ETCD cluster recoveries from this fault? Also, we may have to get insight into the ETCD data so that we can make sure whether the data is integral.

[2021-10-14 10:56] tokers commented on #156
How many instances are in your ETCD cluster? maybe we can backup the data from the healthy node and use it in the bad one.

[2021-10-15 02:18] youngwookim commented on #156
Thanks for your advice @tokers
I'll try to do that.

[2021-10-20 08:03] siaron opened #159 "error.log 日志输出"
- 部署到k8s后日志插件输出的日志在error.log中怎么看不到
[code]
- 这个error.log 为什么也打印重定向到了` /dev/stderr`
- k8s 下怎么看到这个日志输出

[2021-10-20 09:36] tokers commented on #159
1. Make sure the log level is enough to show your logs.
2. The redirection was set up in the docker file.
3. just use `kubectl logs` command.

[2021-10-30 09:06] xiaoFine opened #170 "Name conflict of dashboard as a subchart"
When I try to install apisix and cover values by '--set' in cmd, I found that there is a conflict about the subchart name of apisix-dashboard.

In charts/apisix/Chart.lock, it gives 'apisix-dashboard' , so I give the value, for example,  by setting 'apisix-dashboard.fullnameOverride=apisix-dashboard'.

But actually, the debug logs shows the actual name of the subchart is 'dashboard':
[code]

It's

[2021-11-01 08:53] ajistyle opened #173 "helm install apisix 连接外部etcd https方式失败"
1.外部etcd https访问方式
ETCDCTL_API=3 etcdctl \
  --endpoints=http://192.168.2.202:2379  \
  --cacert=/etc/kubernetes/ca/ca.pem \
  --cert=/etc/kubernetes/ca/etcd/etcd.pem \
  --key=/etc/kubernetes/ca/etcd/etcd-key.pem \
  endpoint health

2. 创建 secret
kubectl create secret tls etcd-ssl-s -n ops \
    --cert=/etc/kubernetes/ca/etcd/etcd.pem \
    --key=/etc/kubernetes/ca/etcd/etcd-key.pem \
    --dry-r

[2021-11-01 08:54] ajistyle commented on #173
大佬们，帮忙瞅一眼~

[2021-11-01 09:25] tokers commented on #173
@ajistyle If you create a TLS type Kubernetes Secret object, the perspective keys are "tls.crt" and "tls.key", so you should use the correct keys in settings `etcd.auth.tls.certFilename` and `etcd.auth.tls.certKeyFilename`.

What's more, you should also pass the CA certificate to APISIX, or it might reject the TLS handshaking since the certificate is not trusted (unless it's signed by well-known C

[2021-11-04 03:07] jikunchong opened #176 "docs: Failed to deploy under non ingress-apisix namespace"
### Issue description
在非 ingress-apisix 命名空间下部署时， 报错：
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
 waiting for apisix-admin

原因：
wait-apisix-admin 初始化脚本，只找固定命名空间：ingress-apisix
  initContainers:
    - name: wait-apisix-admin
      image: 'busybox:1.28'
      command:
        - sh
        - '-c'
        - >-
          until nc -z apisix-admin.ingress-apisix.svc.cluster.local 918

[2021-11-04 05:46] jikunchong commented on #176
那针对这种一键部署的，建议在官方文档中多说明一下有关指定自己的命名空间时需要怎么做，谢谢

[2021-11-04 05:50] tao12345666333 commented on #176
This configuration item is newly added, the document has not been completed yet, welcome to submit a PR

[2021-11-04 05:54] jikunchong commented on #176
ok，tks

[2021-11-04 05:54] #176 closed

[2021-11-10 01:52] ajistyle commented on #173
`cp etcd.pem etcd.crt
cp etcd-key.pem etcd-key.key

kubectl create secret tls etcd-ssl-s -n ops \
    --cert=/opt/zhuji/helm/apisix/cert/etcd.crt \
    --key=/opt/zhuji/helm/apisix/cert/etcd-key.key \
    --dry-run -o yaml > etcd-ssl-s.yaml

[root@node201 apisix]# kubectl describe secret/etcd-ssl-s -n ops
Name:         etcd-ssl-s
Namespace:    ops
Labels:       <none>
Annotations:
Type:         ku

[2021-11-10 08:41] tokers commented on #173
--cert=/opt/zhuji/helm/apisix/cert/etcd.crt \
    --key=/opt/zhuji/helm/apisix/cert/etcd-key.key \
    --dry-run -o yaml > etcd-ssl-s.yaml
The key names of tls type secret will be "tls.crt", "tls.key", but you configured `etcd.crt` and `etcd-key.key`, so the mount won't succeed.

[2021-11-10 15:06] tutuV opened #177 "Real-ip plug error: need to build APISIX-OpenResty to support setting real ip"
env:
k8s: 1.21
apisix-helm-chart: 0.7.2

install cmd:
helm install apisix apisix \
-f apisix/values.yaml \
--set apisix.replicaCount=1 \
--set gateway.type=LoadBalancer \
--set admin.allow.ipList="{0.0.0.0/0}" \
--set etcd.enabled=true \
--set etcd.persistence.enabled=false \
--set ingress-controller.enabled=true \
--set ingress-controller.config.apisix.serviceNamespace=apisix \
--set ingress-cont

[2021-11-11 02:07] tokers commented on #177
Could you describe your problem elaborately? I didn't understand the point you want to show us.

[2021-11-11 03:15] tutuV commented on #177
@tokers I have enabled the real-IP plugin, but an error occurs: need to build APISIX-OpenResty to support setting real ip. It is said in the QQ group that Apisix lacks the client. Lua module, I wonder whether There is no OpenResty in Apisix or what I need to configure ?

[2021-11-11 04:03] tutuV opened #178 "ApisixRoute does not write to etcd and is not shown on dashboard"
env:
k8s  1.21
apisix-helm-chart  0.7.2

install cmd:

helm install apisix apisix \
-f apisix/values.yaml \
--set apisix.replicaCount=1 \
--set gateway.type=LoadBalancer \
--set admin.allow.ipList="{0.0.0.0/0}" \
--set etcd.enabled=true \
--set etcd.persistence.enabled=false \
--set ingress-controller.enabled=true \
--set ingress-controller.config.apisix.serviceNamespace=apisix \
--set ingress-con

[2021-11-11 10:23] tokers commented on #177
The current docker image doesn't base on the patched OpenResty, so some features like the real-ip plugin won't support, it'll be support soon. cc @imjoey

[2021-11-12 09:28] #178 closed

[2021-11-22 06:21] hepyu opened #179 "request help: how to config etcd.prefix when I used "helm install apisix-dashboard" ?"
### Issue description

I used helm install apisix-dashboard, but I found there is no way to config etcd.prefix.

![image](https://user-images.githubusercontent.com/3917749/142810318-63852f25-d4e2-4fba-bd62-d8a745910534.png)

how to config etcd.prefix when I used "helm install apisix-dashboard"?

### Environment

- apisix version (cmd: `apisix version`):
- OS (cmd: `uname -a`):
- OpenResty / Nginx

[2021-11-22 09:48] tokers commented on #179
The key prefix configuration item has not exposed yet, welcome to submit a PR to enable it!

[2021-11-23 12:18] Zeroonexxx opened #180 "Install apisix-0.7.2 from helm（RKE），fail to connect external etcd cluster"
etcd config：
![image](https://user-images.githubusercontent.com/89952423/143018502-21ee771f-b122-4670-85cb-79d18953230f.png)
gateway tls：
![image](https://user-images.githubusercontent.com/89952423/143018532-e39b1bb3-f5d7-4a0b-a1e4-5366085ff699.png)
apisix container log：
![image](https://user-images.githubusercontent.com/89952423/143018546-a0ef2b9e-194d-446d-b1bf-eb02ab4da377.png)
curl in containe

[2021-11-24 12:13] tokers commented on #180
You should use the latest APISIX image (such as `2.10.2`) so that the mTLS features are supported.

[2021-11-25 07:50] wangzhilin90 opened #181 "dashboard report 404"
1.install apisix success
![image](https://user-images.githubusercontent.com/26026314/143400573-002c10e2-00e9-4a30-aa2c-d1731527bc64.png)
![image](https://user-images.githubusercontent.com/26026314/143400773-962b099c-8247-4397-b078-6bfbd5332110.png)

2.lb's ip is 192.168.8.240
![image](https://user-images.githubusercontent.com/26026314/143400617-a13eece7-f36b-4c06-a77c-f3e8af462836.png)

3.when i w

[2021-11-25 07:50] webup opened #182 "feat: add service monitor for main chart"
We already have service monitor for ingress controller (#76), shall we make it available also for main chart?

[2021-11-25 07:51] tao12345666333 commented on #182
Sounds good.

[2021-11-25 09:53] tokers commented on #181
Did you create a route to proxy for the Dashboard?

[2021-12-01 09:17] skyhisi opened #184 "Gateway service external IPs should not reference admin external IPs"
The condition is using the number of admin external IPs not the gateway number.
[code]

[2021-12-01 11:02] tokers commented on #184
@skyhisi PR's welcome!

[2021-12-02 08:10] alanland opened #186 "Cannot set skywalking endpoint in helm installation?"
I want use skywalking to monitor apisix request. [Documents](https://apisix.apache.org/docs/apisix/plugins/skywalking/)

## Software version
- Dashboard: 2.9.0
- Apisix:  2.10.0

## Reproduce steps

1. Enable `Skywalking` plugin  in dashboard
2.  Edit `values.yaml`
[code]
3. Run `helm upgrade ...`
4. Terminal outputs:
[code]
5. The values template is:
[code]
6. How to config `configMap` ?

Thanks!

[2021-12-02 09:59] tokers commented on #186
"skywalking" is a built-in plugin, so you don't have to use `customPlugins`. Let's edit the plugin list to add the `skywalking`, see https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml#L140 for details.

[2021-12-02 14:32] skyhisi commented on #184
@tokers I've raised pull request #188

[2021-12-03 01:48] tokers commented on #184
Cool! I checked it out and it LGTM.

[2021-12-03 02:57] zaunist opened #189 "docs: add READEME.md to artifacthub.io"
I want to deploy apisix-dashboard with helm, so I visit artifacthub.io to search  `apisix-dashboard`, but get the `apisix-dashboard` doesn't have READEME.md

![image](https://user-images.githubusercontent.com/38528079/144537231-3b61abc3-abcf-4069-8842-777c38739baf.png)

Do we need to add README.md for `apisix-dashboard` ?

[2021-12-03 03:45] tao12345666333 commented on #189
Welcome to open a PR.

[2021-12-03 04:49] alanland commented on #186
Thanks.

But my problem is cannot set skywalking in `values.yaml` endpoint, documents says to config plugin attr like:
[code]
when you configed `plugin_attr`，the `deployment.yaml` will create a`volumeMount`, that my real trouble.

Finally I solved it by rewrite `configmap.yaml` to apply plugin_attrs.

[code]

[2021-12-05 06:15] tokers commented on #186
Hi!,

The capability to configure `pluginAttrs` was just supported in fews days ago, see https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml.

[2021-12-07 07:01] tao12345666333 commented on #184
#188  has been merged. I will close this one. Thanks!

[2021-12-07 07:01] #184 closed

[2021-12-08 11:38] ameryhan opened #191 "apisix-etcd 3个节点，俩个一直失败"
![image](https://user-images.githubusercontent.com/2375525/145202259-65f0bf73-bdb1-46de-81fa-3ebc9a2292e5.png)

![image](https://user-images.githubusercontent.com/2375525/145202322-c76ab098-bb70-4dbe-b3b7-aa8de86210de.png)

[2021-12-08 14:37] zaunist commented on #191
Hi, @ameryhan . Can you give more info?  example: k8s version: v1.21.1
I have executed the follow command, and success deploy the apisix and etcd, so I can't reproduce this error.
[code]
This is my screenshoot
![image](https://user-images.githubusercontent.com/38528079/145224565-99d971a6-9669-4f5b-a2ef-5fcecd32c891.png)

Here is my condition for  your reference:
[code]
Finally, I recommend using t

[2021-12-08 17:41] tao12345666333 commented on #191
Can you provide your etcd container logs?

In addition, this issue has nothing to do with apisix. It will be more direct if such issues are submitted directly at https://github.com/bitnami/charts/

[2021-12-13 02:16] #189 closed

[2021-12-14 12:18] ameryhan commented on #191
已经重启了1000多次了
![image](https://user-images.githubusercontent.com/2375525/145996501-1d404932-5249-4ac0-ad45-71da92ff7a91.png)

etcd 12:13:35.36
etcd 12:13:35.37 Welcome to the Bitnami etcd container
etcd 12:13:35.37 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-etcd
etcd 12:13:35.37 Submit issues and feature requests at https://github.com/bitnami/bitnami-docker-e

[2021-12-17 03:04] webup commented on #182
Closed with #192.

[2021-12-17 03:04] #182 closed

[2021-12-20 03:19] Zhang-Aoqi opened #231 "request help: Prometheus Apisix"
### Issue description

I want to deploy Apisix and Prometheus on K8S through the Helm package, and monitor Apisix using Prometheus to count all requests that go through Apisix. Now how do I deploy integration monitors and how do I configure them?（我想在k8s上通过helm包部署Apisix和Prometheus，同时使用Prometheus监控Apisix，统计所有经过Apisix的请求数量。现在我该怎么部署集成监控他们呢，怎么去配置？）

### Environment

- apisix version (cmd: `apisix versi

[2021-12-20 06:41] lookhua opened #197 "Error: bad member ID arg (strconv.ParseUint: parsing "": invalid syntax), expecting ID in Hex"
k8s  version:  1.20.11-aliyun.1

**first time deploy command:**

helm install apisix -n apisix --set apisix.replicaCount=3 --set apisix.resources.requests.cpu=100m  --set apisix.resources.requests.memory=1Gi --set apisix.resources.limits.cpu=8 --set apisix.resources.limits.memory=8Gi  --set gateway.type=NodePort --set gateway.tls.enabled=true --set gateway.stream.enabled=true --set etcd.replicaCou

[2021-12-21 00:29] lookhua commented on #197
**i have resolved this problem, first step , enter a  running pod ,exec this cammand :**
etcdctl --endpoints=apisix-etcd.apisix:2379 member list

**then find the error pod etcd id and remove it:**
etcdctl --endpoints=apisix-etcd.apisix:2379 member remove a7b113a74fea5a84

**backup and delete the error pod  data volume , last step is  restart the error pod ,the error will reinit and jion the curren

[2021-12-21 09:25] huangzx3 opened #198 "etcd Back-off restarting failed container"
[code]

3 etcd pods running , but always  Back-off restarting failed container .
please help

[2021-12-21 10:51] huangzx3 commented on #198
The previous problem has been resolved, but the next problem has appeared

[code]

[2021-12-21 10:57] tokers commented on #198
I think this problem is not relevant to the APISIX, according to the error log, it's caused by the neworking issue, could you troubleshoot it firstly?

[2021-12-21 10:57] tokers commented on #198
Also, please provide more details about how you install APISIX and ETCD cluslter.

[2021-12-22 02:31] huangzx3 commented on #198
- kubectl logs --namespace=kube-system -l k8s-app=kube-dns
[code]

[2021-12-22 02:34] huangzx3 commented on #198
i create APISIX just

[code]

I created pvc manually

[code]

[2021-12-22 05:18] huangzx3 commented on #198
This should have something to do with the startup sequence of etcd. They depend on each other, which makes it impossible to start. I can only start one.

-  kubectl get pod
[code]

[2021-12-22 07:01] huangzx3 opened #200 "Error: etcd get failed: context deadline exceeded"
install apisix-dashboard fail
- kubectl logs -f apisix-1640139056-dashboard-5fd969bb68-8wn54

[code]

[2021-12-22 09:03] tao12345666333 commented on #200
what's your install commands?

[2021-12-28 06:35] blank-1 opened #202 "liunx aarch64 helm apisix chart can't install"
1. update  apisix/vaules.yaml
[code]

2.helm  install  apisix  apisix/  -n apisix

3.error msg

CrashLoopBackOff: back-off 5m0s restarting failed container=etcd pod=apisix-etcd-2_apisix(e60aa18d-8448-4fdc-94fe-b194abf82e85)
--

![Uploading 2021-12-28_14-34-00.png…]()

[2021-12-28 06:49] tao12345666333 commented on #202
bitnami/etcd image does not provide aarch64 architecture support.

[2021-12-30 06:16] BrandonArp commented on #186
Awesome! I'm having a very similar issue. Would you mind releasing the change? It looks like pluginAttrs is just what I need.

[2021-12-30 09:55] tokers commented on #186
cc @tao12345666333

[2021-12-30 10:16] tao12345666333 commented on #186
we can release a new version

[2022-01-01 16:12] zaunist opened #206 "docs: ingress namespace is different with apisix and apisix-dashboard"
In our document, apisix and apisix-dashboard is installed to `default` namespace, but the apisix-ingress-controller is installer to `ingress-apisix` namespace. If we just install these charts according to official document, apisix-ingress-controller cannot be started normally because it is not in the same namespace as apisix.

![image](https://user-images.githubusercontent.com/38528079/147854845-9

[2022-01-02 14:20] tao12345666333 commented on #206
you should add `--set ingress-controller.config.apisix.serviceNamespace=<your namespace>` flag.

[2022-01-02 14:21] tao12345666333 commented on #206
see https://github.com/apache/apisix-helm-chart/issues/176#issuecomment-960422141

welcome to improve the documentation.

[2022-01-05 12:50] tao12345666333 commented on #77
#158 has fixed this issue. I will close this one.

[2022-01-05 12:50] #77 closed

[2022-01-05 12:53] tao12345666333 commented on #159
This issue has not been updated for too long, I will close it. If you still have questions, please feel free to reopen it.

[2022-01-05 12:53] #159 closed

[2022-01-05 12:54] tao12345666333 commented on #141
This issue has not been updated for too long, I will close it. If you still have questions, please feel free to reopen it.

[2022-01-05 12:54] #141 closed

[2022-01-05 12:56] tao12345666333 commented on #124
#192  has fixed this one. I will close this.

[2022-01-05 12:56] #124 closed

[2022-01-05 13:00] tao12345666333 commented on #170
Chart.lock only represents the name of the corresponding sub chart itself.

Aliasing has been performed in Chart.yaml,
https://github.com/apache/apisix-helm-chart/blob/cf0f0c529f44c5b2e70ac347d741c788bc1a0ec6/charts/apisix/Chart.yaml#L46-L50

and there is a corresponding configuration location in values.yaml.
https://github.com/apache/apisix-helm-chart/blob/cf0f0c529f44c5b2e70ac347d741c788bc1a0ec6

[2022-01-05 13:00] #170 closed

[2022-01-06 07:14] suninuni opened #210 "Missing apisixpluginconfigs in apisix-ingress-controller rbac.yml"
Missing apisixpluginconfigs in apisix-ingress-controller rbac.yml caused this error:

[code]

https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/templates/rbac.yaml#L137-L151

[2022-01-06 07:15] suninuni commented on #210
@tao12345666333 FYI

[2022-01-06 08:15] tao12345666333 commented on #210
ApisixPluginConfig is not really available until the v1.4 version, so its related configuration will also be carried in the v1.4 version of the APISIX Ingress controller Helm chart. #208

[2022-01-10 05:05] tranbaokhanh opened #212 "request help: etcd stuck in Crashloopbackoff"
### Issue description

when i install APISIX via Helm with:
_helm install apisix apisix/apisix --set gateway.type=NodePort --set ingress-controller.enabled=true --set etcd.persistence.size=15G --set etcd.persistence.enabled=true --set etcd.volumePermissions.enabled=true --set admin.allow.ipList="" --namespace apisix_

1/3 node etcd running and 2/3 stuck in Crashloopbackoff with des "Containers wit

[2022-01-10 09:46] tokers commented on #212
From the above logging, I guess this is due to the conflict between ETCD launch mode (such as new cluster or existing cluster) and the data dir.

[2022-01-10 09:47] tokers commented on #212
Try to change the ETCD bootstrap parameters or remove the data dir (if the data are unnecessary).

[2022-01-10 10:19] tranbaokhanh commented on #212
@tokers Thank you for responding.
I was able to fix it by deleting the data dir.

[2022-01-11 01:21] tokers commented on #212
Great! Can we close this issue now?

[2022-01-11 01:55] lusains commented on #200
it's happens on me~

The helm install commands： helm install apisix . -n apisix
This is my values.yaml config pre-installed etcd cluster
   `
etcd:
  enabled: false
  host:
    - http://etcd.etcd.svc.cluster.local:2379
  prefix: "/apisix"
  timeout: 30
  auth:
    rbac:
      # No authentication by default
      enabled: false
      user: ""
      password: ""
    tls:
      enabled: false
      e

[2022-01-11 03:52] tranbaokhanh commented on #212
irrelevant things. One more question pls!
i have istall apisix dashboard with cmd:
[code]
But it seems not work. i cant connect to dashboard with telnet result:

So how i cant use dashboard :(
Sorry for the inconvenience. Im newbie

[2022-01-11 05:40] zaunist commented on #212
Hi, @tranbaokhanh. I will check this issue latter.

[2022-01-11 09:10] tokers commented on #212
Hi, if this is not related to the issue, let's create another one to track it.

[2022-01-11 09:23] tranbaokhanh commented on #212
@tokers yup bro

[2022-01-11 09:23] #212 closed

[2022-01-11 09:37] tranbaokhanh opened #213 "how to browser to the apisix-dashboard"
I have a cluster.
i install APISIX via Helm with:
[code]
`kubectl get pods -o wide -n apisix`

`kubectl get svc -n apisix`

So, How to browser to the apisix-dashboard

[2022-01-11 09:45] tokers commented on #213
1. You can use `kubectl port-forward` to expose the service to your localhost, so that you can access it.
2. You can set the apisix-dashboard service type to `NodePort` so that you can access it through Kubernetes worker nodes' IP addresses;
3. If you're using a managed Kubernetes service like EKS, you can set the apisix-dashboard service type to `LoadBalancer`, so AWS will assign an ELB address f

[2022-01-11 10:35] tranbaokhanh commented on #213
@tokers how to set the apisix dashboard svc type to Nodeport?
i use this cmd:
`helm install apisix apisix/apisix --set gateway.type=NodePort --set ingress-controller.enabled=false --set dashboard.enabled=true --set dashboard.type=NodePort --set etcd.persistence.size=15G --set etcd.persistence.enabled=true --set etcd.volumePermissions.enabled=true --set admin.allow.ipList="" --namespace apisix`
But

[2022-01-12 00:57] tokers commented on #213
@tranbaokhanh See https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-dashboard/values.yaml#L81.

[2022-01-12 01:48] tranbaokhanh commented on #213
@tokers  Thanks for your advice. i got it.
BTW i have one more prbl. According this cmd
#

i have check https://github.com/apache/apisix-helm-chart/issues/105#issuecomment-864813598 and set `etcd.volumePermissions.enabled=true` but it dont auto create pv on my Nodes
i follow Setting up a High-availability RKE Kubernetes Cluster
[https://rancher.com/docs/rancher/v2.6/en/installation/resources/k8s-t

[2022-01-12 08:31] qq54903099 opened #214 "request help: etcd pod CrashLoopBackOff on minikube"
### Issue description

helm install apisix apisix/apisix   --set gateway.type=NodePort   --set ingress-controller.enabled=true   --namespace ingress-apisix   --set ingress-controller.config.apisix.serviceNamespace=ingress-apisix

I execute this command,but start fail

![image](https://user-images.githubusercontent.com/3895272/149091547-26113ddf-5898-40dc-943e-f4339d9ae1f1.png)

![image](https://us

[2022-01-12 10:44] qq54903099 commented on #214
yes!

now I use root to run minikube. I will try it.

[2022-01-13 01:26] tokers commented on #213
I don't have too much experience for the use of RKE, maybe you can throw the question to Rancher community.

[2022-01-13 06:23] #210 closed

[2022-01-17 03:00] #214 closed

[2022-01-18 04:39] gardun0 opened #217 "Cannot use apisix.apache.org/v2beta2 on last version"
Hello,

I'm having this issue with the version `0.7.3`. As far as i know `apisix.apache.org/v2beta2` must be available within this version, but  it's replaced with `apisix.apache.org/v2beta1`  once i create it.

I even changed this value `ingress-controller.config.kubernetes.apisixRouteVersion` on the helm values.

Is this normal?

[2022-01-18 06:33] tao12345666333 commented on #217
can you run `kubectl api-resources --api-group=apisix.apache.org` ?

[2022-01-18 19:24] gardun0 commented on #217
Yeah, i think this is an issue from GKE, anyways i encountered that the `authentication` property doesn't set key-auth config properly within this CR version.

[2022-01-24 09:20] xewn opened #219 "增加一个比较全的chart？"
现在有3个chart，好像都不全。
Apache APISIX Helm Chart
Apache APISIX Dashboard Helm Chart
Apache APISIX Ingress Controller Helm Chart
方便搞一个包含这3部分的chart？helm一次性就可以把这3个都安装好的。

[2022-01-24 14:00] zaunist commented on #219
@xewn.  Agree, and welcome to PR.

[2022-01-25 01:13] tokers commented on #219
@xewn This is already supported by the helm conditions. But we can still enhance all of the charts, making them synchronized with the configuration settings of each component.

[2022-01-25 10:06] Gallardot opened #221 "Proposal: customized config.yaml"
APISIX provides a very rich set of configuration items. When we need to customize the configuration, we need to add configuration items to the [values.yaml](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml) and then modify the code in the [templates](https://github.com/apache/apisix-helm-chart/tree/master/charts/apisix/templates). This is a tedious job for the main

[2022-01-25 10:19] tao12345666333 commented on #221
SGTM

[2022-01-25 11:28] tokers commented on #221
We don't expose the existence of config-default.yaml to users, if here we support the customization of config-default.yaml, then some questions might be introduced in the same while, like the precedence, and some items in the config-default.yaml should not be updated easily and even should not be absent, these may also confuse people, also, the whole config-default.yaml is too long.

[2022-01-26 09:31] Gallardot commented on #221
Through online meetings with @tao12345666333 @tokers , we decided that a full customization of `conf.yaml` file might be a more appropriate approach. I will create a PR to solve this problem.

[2022-01-26 09:46] tokers commented on #221
@Gallardot Great! Thanks for your contribution.

[2022-01-27 09:41] labaq opened #224 "missing TCP port after set stream tcp port on values file"
using stream on helm values, but gateway service not open stream port 9100
[code]
[code]
part of pod spec
[code]

my question is that need open stream port on service and pod is that right?
or do i missing something to set

i want to proxy tcp service like redis or mysql

[2022-01-27 10:20] tokers commented on #224
@labaq The `ports` field in the Pod definition is just used to tell readers or other controllers that this pod will expose these ports, but it won't affect the real behaviors of the process inside the pod, ports missing from the field can still be listened.

But I think it would be better to advertise all ports in the `ports` field, would you like to submit a PR to enhance this? Thanks!

[2022-01-28 03:07] Gallardot opened #225 "Proposal: APISIX can run as DaemonSet"
In the microservices architecture, multiple independent business services may use independent registries (Eureka \ Nacos \Consul). We hope that APISIX can be deployed to the cluster as daemonset. Microservices can access the services of other independent businesses by calling APISIX of local nodes.

A picture is worth a thousand words.

![apisix-mesh](https://user-images.githubusercontent.com/3292

[2022-01-28 04:02] gxthrj commented on #225
It is a good idea, btw I would like to ask if the scenario of this proposal is to use Apache APISIX to handle east-west traffic inside Kubernetes?

[2022-01-28 04:06] gxthrj commented on #225
And I would like to ask why not choose to use `deployment` + `HPA` to deploy Apache APISIX, is there any special advantage of using `daemonset`?

[2022-01-28 06:07] Gallardot commented on #225
Yes.

We could use hostnetwork, which would have better performance.

[2022-01-28 07:43] gardun0 opened #226 "Chart apisix-ingress-controller 0.9.0 version was not updated on apisix 0.8.0 dependencies"
The latest version 0.8.0 of apisix's chart did not upgrade the new version of ingress-controller chart 0.9.0.

[2022-01-28 07:50] gxthrj commented on #225
We can use `hostnetwork` with `deployment`, too. And set `dnsPolicy` to `ClusterFirstWithHostNet`.

[2022-01-28 08:26] tokers commented on #225
@Gallardot Could you provide some real scenarios.

[2022-01-28 08:27] Gallardot commented on #224
@tokers

I think the service of apisix-gateway should expose the `stream proxy tcp/udp port` on `spec.ports`.  Otherwise, these ports cannot be accessed through the service. I will try to fix it.

[2022-01-28 08:37] tokers commented on #226
cc @tao12345666333 Is the ingress-controller chart`0.9.0` matched with apisix `0.8.0`?

[2022-01-28 08:39] tao12345666333 commented on #226
we need open a PR to upgrade dependencies

[2022-01-28 08:40] tokers commented on #226
@gardun0 Would you like to submit a PR to update it?

[2022-01-28 17:04] gardun0 commented on #226
Sure, Ill Work on it, I've found an issue working this two versions, but I'll try to debug it

[2022-01-30 01:06] tao12345666333 commented on #226
@gardun0 Do you have time to update this dependency? In the apisix-ingress-controller v0.9.0 chart, we upgraded to APISIX Ingress controller v1.4 which solved a lot of issues. So we need to upgrade this dependency as soon as possible. Currently I have found some issues like https://github.com/apache/apisix-ingress-controller/issues/851

[2022-01-31 18:48] gardun0 commented on #225
Regarding to this, i don't think this is the purpose of an API Gateway entirely

[2022-02-01 02:43] #226 closed

[2022-02-01 04:49] #217 closed

[2022-02-03 05:13] gardun0 opened #229 "Why not updating etcd version?"
I've seen this helm charts are using a version from mid 2020, is there a reason for that? If not, why not upgrade it? i believe it'll fix current etcd issues like #197

[2022-02-03 18:51] MirtoBusico opened #230 "Request help: how to setup the gateway variables to enable HTTPS?"
Hi all,
I need to enable the https protocol on the apisisx ingress gateway.
I don't know how to setup the variables in the helm chart values.yaml to enable HTTPS.

My framework:

- 3 node kubernetes cluster
- Istio installed with the "minimal" profile
- apisix installed with helm chart (enabling ingress controller and dashboard)
- a working route and upstream for a site (eg "http://www.m01.net")

[2022-02-03 19:29] gardun0 commented on #230
Hey @MirtoBusico, in order to secure your gateway, there are many methods out there, this is one of them:

1. Enable TLS with `gateway.tls.enabled` set to `true`, this will add a `443` port for your service.
2. In order to expose your gateway, you must set the service to `LoadBalancer` type (alternative to Ingress).
3. As soon as your service set up, it'll have a public address with two ports `80`

[2022-02-03 19:47] MirtoBusico commented on #230
Thanks. I'll try asap

[2022-02-05 06:57] tokers commented on #229
@gardun0 Personally I support to update the default ETCD version. Let's see others' responses.

[2022-02-05 08:40] MirtoBusico commented on #230
Hi @gardun0, I was able to do steps 1, 2, 3, and 7

I can't use Let's Encrypt (my lab have to work also in airgapped situation) and I should prefer not to add cert-manager to the things I have to learn.

For now I'm using CA and certificates created directly with openssl.
I have:

- m01ca.pem the Certification Authority certificate
- www.key the key for www.m01.net
- www.crt the certificate for ww

[2022-02-05 13:34] tao12345666333 commented on #229
I guess it's just forgotten. 😅

I checked the APISIX code repository and the version of ETCD used in CI is new

[2022-02-05 16:29] Gallardot commented on #229
@gardun0

Agree and welcome to open a PR.

[2022-02-07 05:52] labaq commented on #224
Thanks, this is my expected

[2022-02-07 10:59] tokers commented on #224
Yes, that's true for `Service`.

[2022-02-09 15:10] #231 closed

[2022-02-13 10:47] MirtoBusico opened #235 "Request help: how to enable a private certification authority in gateway?"
Hi all,
I'm trying to setup the **authz-keycloak** plugin.
My keycloak server replays at **https://k6k.m01.net** and it have key and certificate signed by my pricate Certification Authority.
Trying to access the keycloak server from apisix pod I receve a "unable to get local issuer certificate" error
[code]
If I understand correctly, I have to setup the CA certificate in the tsl section of gateway

[2022-02-13 12:40] tokers commented on #235
@MirtoBusico You CA certificate should be saved in the Kubernetes Secret, and the `caCerficiateFilename` is used to indicate the key name in this Secret.

[2022-02-13 13:46] tokers commented on #235
See https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/README.md#gateway-parameters.

See the above reply for learning the use of `caCerficiateFilename`.

And Kubernetes secret type doesn't matter.

[2022-02-13 18:57] MirtoBusico commented on #235
@tokers
Well maybe I don't understand the documentation

I created a generic secret using these commands:
[code]
Then I modified the values.yaml file in the apisix helm chart:
[code]
Then I installed apisix with:
[code]
Now the apisix pod never starts saying
[code]

<img width="1849" alt="apisix-m01cacert" src="https://user-images.githubusercontent.com/11090934/153770172-06ba5461-b66e-4b87-9d60-b5

[2022-02-14 09:28] MirtoBusico commented on #235
Hi @tokers the first probem is that the secret is namespaced.
So to have a valid secret it have to be defined in the apisix namespace
[code]
Now apisix correctly start; but the "**SSL certificate problem: unable to get local issuer certificate**" error is still there.
Trying to curl the keycloak server from apisix pod gives:
[code]
Seems that the secret is not correct or the secret key have to use

[2022-02-16 06:54] xewn opened #236 "apisix-ingress-controller默认的命名空间，可以改成apisix不？"
默认的命名空间，可以改成apisix不？和另外两个统一一下
helm install apisix-ingress-controller apisix/apisix-ingress-controller --namespace ingress-apisix --create-namespace
每次都因为这个命名空间不统一报错。

[2022-02-16 08:20] tao12345666333 commented on #236
Sure, welcome to open a PR.

In fact, I recommend deploying with a command like:

[code]

[2022-02-16 12:39] xewn commented on #236
你这个命令，好像不会安装apisix dashboard。我是在kubesphere安装的，总是有各种问题，安装不成功。

[2022-02-16 12:53] xewn commented on #236
![image](https://user-images.githubusercontent.com/1423410/154268600-5ec47e37-d9c8-4cb5-9c5d-9efd9ca3aa7a.png)

[2022-02-16 12:55] xewn commented on #206
#236   我觉得这已经是bug了，搞成一样的，就会少一些麻烦。很多用户都是头次接触，根本不懂K8S的使用。

[2022-02-17 01:34] tokers commented on #236
@xewn I think the command provided by you is correct, could you provide some details about why the container quit? Such as the log messages.

[2022-02-17 01:42] zaunist commented on #236
@xewn I found your apisix is not ready, so dashboard will wait apisix initial success, could you give more info about apisix status ?

[2022-02-17 08:08] xewn commented on #236
可以看到日志的。要不你们搞个kubesphere部署一下呢？  我都尝试了很多次了，主要是k8s不懂，自己搞不来。

[2022-02-17 08:08] xewn commented on #236
或者我让你们远程来看？

[2022-02-21 08:42] tutuV opened #239 "How to configure service discovery with DNS"
env:
k8s v1.21.0
apisix-helm-chart v0.8.2

apisix  values.yaml :
[code]

consul service.json:
{
    "id": 1,
    "discovery_type": "dns",
    "service_name": "createaccount.service.consul",
    "type": "roundrobin"
}

install command:
kubectl create ns apisix

helm install apisix apisix \
-f apisix/values.yaml \
--set admin.allow.ipList="{0.0.0.0/0}" \
--set admin.type=LoadBalancer \
--set etcd.en

[2022-02-23 01:54] tao12345666333 commented on #239
@tutuV  Please check your configuration
xref: https://github.com/apache/apisix/blob/master/docs/en/latest/discovery/dns.md#service-discovery-via-dns

[2022-02-23 03:54] tutuV commented on #239
@tao12345666333 it still doesn't work. did anyone tell Apisix that their documentation sucks.

[2022-02-23 04:02] tutuV commented on #239
@tao12345666333 it still doesn't work. did anyone tell Apisix that their documentation sucks.
helm-chart-0.8.2/apisix/templates/configmap.yaml
![image](https://user-images.githubusercontent.com/49155687/155259415-e18f2f74-cc5b-44ea-9373-ef7dc1cfb0b8.png)

helm-chart-0.8.2/apisix/values.yaml
![image](https://user-images.githubusercontent.com/49155687/155259518-d7a69f38-d06d-46b6-94ce-3a29714980a2.p

[2022-02-23 04:04] tutuV commented on #239
@tao12345666333 I tried a lot, but nothing worked. The documentation is not explicit.

[2022-02-23 04:14] tao12345666333 commented on #239
You can just using `helm template ` command to see the final generated YAML

[2022-02-23 06:12] tutuV commented on #239
i fixed the configuration

[2022-02-23 06:12] #239 closed

[2022-02-23 16:58] tao12345666333 commented on #236
I have installed in KubeSphere and everything works fine.

You can try to check your network, or see if there is any valid information in the logs.

[2022-02-23 17:27] tao12345666333 commented on #221
#223 has been merged. I will close this one.

[2022-02-23 17:27] #221 closed

[2022-02-24 00:14] tao12345666333 commented on #186
We've released several new versions and this feature is already supported.  I will close it, thanks

[2022-02-24 00:14] #186 closed

[2022-02-24 01:27] tokers commented on #235
@MirtoBusico The error reported here is self-explanation:

[code]

Check out whether your certificate is self-signed, signed by some private CA. If so, specifying its CA certificate in the curl utility to make the certificate pass the verification.

[2022-02-24 15:48] MirtoBusico commented on #235
Hi @tokers you are right
As I said in previos comments I created my own CA and signed my certificates with this CA.
My working configuration is obtained doing:

I create a sectre with my ownn CA certificate
[code]
Then I put these lines in apisix chart values.yaml
[code]
and installed apisix with
[code]
Strangely the curl command issued from the apisix pod still fails with the previous error but t

[2022-02-25 01:31] tokers commented on #235
@MirtoBusico I think the openid-connect plugin doesn't verify the peer's certificate strictly. And in the curl case, you can add the `--cacert` option to specify the CA certificate file and see what happens.

[2022-02-25 02:13] #224 closed

[2022-02-25 08:49] MirtoBusico commented on #235
@tokers Ok. So it seems this is the correct behaviour.
For me this request can be closed.

I'm just curious to understand the use for  existingCASecret and certCAFilename in the tls section

[code]

[2022-02-25 09:57] tokers commented on #235
@MirtoBusico `existingCASecret` is the name of Kubernetes Secret which contains the CA certificate, so basically you should create such Secret in advance; And `certCAFilename` is the KEY inside such Secret where the value is the CA certificate content.

[2022-02-25 12:29] MirtoBusico commented on #235
@tokers yes. And this is exactly what I've done (see my previous replies).
The question is why the curl from the apisix pod says unknown CA if the CA cert is loaded in apisix configuration?

[2022-02-25 12:32] tokers commented on #235
Just like you said, it's just loaded by apisix, then what does that have to do with curl?

[2022-02-25 12:44] MirtoBusico commented on #235
Il 25/02/22 13:33, Alex Zhang ha scritto:

Clearly I don't understand the use case for this certificate.

If I can load a CA certificate in apisix tls section, when and how I can
use it to validate https requests?

[2022-02-27 01:40] xewn commented on #236
你是同时安装 apisix  dashboard  ingress？

[2022-02-27 01:40] xewn commented on #236
单独安装 apisix dashboard是没问题的。单独安装apisix和ingress也是没问题的。三个一起安装就不行。

[2022-02-27 01:42] xewn commented on #236
`helm install apisix apisix/apisix --set gateway.type=NodePort --set ingress-controller.enabled=true --set dashboard.enabled=true --set ingress-controller.config.apisix.serviceNamespace=apisix --namespace apisix --create-namespace --set ingress-controller.config.apisix.serviceName=apisix-admin`
你用这个安装 apisix dashboard ingress，有没问题？

[2022-02-27 03:57] tokers commented on #235
I checked the case you pasted, you login to the APISIX pod but sent requests to `k6k.m01.net` , I don't know how you handle the DNS resolving, but you should make sure requests were sent to the APISIX cluster.

[2022-02-28 01:09] tao12345666333 commented on #236
here is my install command:

[code]

[2022-02-28 01:19] zaunist commented on #236
I have a suggestion, let's change the namespace of the script waiting for apisix to start in the init container in ingress-controller to apisix, and then set the default namespace to apisix consistently. How do you think? @tao12345666333

[2022-02-28 01:21] tokers commented on #235
OK, so `k6k.m01.net` is the keycloak serivce address, you sent requests to keycloak and find the CA problems. And it seems that your keycloak service is not proxied by APISIX since you said:

Maybe those plugins don't do a strict certificate verification

So your last question:

You don't send requests to APISIX at all, It's not a question, APISIX doesn't handle your requests. And I already said:

[2022-02-28 06:29] tao12345666333 commented on #236
In fact it is configurable.

https://github.com/apache/apisix-helm-chart/blob/2a481404fc85707283df1ce0eda0e6680240d58a/charts/apisix-ingress-controller/templates/deployment.yaml#L54

Of course, I also agree to unify the content in the default document so that users can get started quickly.

[2022-02-28 09:26] zaunist commented on #236
I would like to do this work, please assign to me.

[2022-02-28 09:43] tao12345666333 commented on #236
assigned

[2022-03-01 02:45] wjkhappy14 opened #240 "apisix-ingress-controller-PodInitializing"
when run  command:
helm install apisix-ingress-controller apisix/apisix-ingress-controller

then got  this log:
container "apisix-ingress-controller" in pod "apisix-ingress-controller-7859756884-jqnzk" is waiting to start: PodInitializing

[2022-03-01 02:53] wjkhappy14 commented on #240
K8S reason:
ContainersNotInitialized
containers with incomplete status: [wait-apisix-admin]

[2022-03-01 03:07] wjkhappy14 commented on #55
helm install apisix-ingress-controller apisix/apisix-ingress-controller --set config.apisix.baseURL=http://apisix-admin:9180

[2022-03-01 03:24] wjkhappy14 commented on #240
Container image "busybox:1.28" already present on machine

[2022-03-01 04:42] tao12345666333 commented on #240
you should run this command:

[code]

 `ingress-controller.config.apisix.serviceName=apisix-admin` and   `ingress-controller.config.apisix.serviceNamespace=apisix`  are the root cause.

https://github.com/apache/apisix-helm-chart/blob/2a481404fc85707283df1ce0eda0e6680240d58a/charts/apisix-ingress-controller/templates/deployment.yaml#L51-L54

[2022-03-01 04:42] #240 closed

[2022-03-01 04:50] tao12345666333 commented on #55
Please try not to reply in an outdated issue, if you encounter a similar problem please add a detailed description. Thanks!

Also, this issue has not been updated for too long, I will close it, if you still have this problem, please feel free to reopen it, or create a new issue.

[2022-03-01 04:50] #55 closed

[2022-03-01 06:22] wjkhappy14 commented on #240
now i run the command as you said, all pos and service  are going well
thks so much

[2022-03-01 08:55] xgenvn opened #242 "Add option to enable control_api for apisix gateway"
In some scenarios where we need an endpoint to return 20x status for lb service health check (eg: on GKE, APISIX is configured to sit behind an ingress route).
The easiest way is to enable `control_api` when installing through helm and a way to configure health check configuration in deployment resource.

[2022-03-01 10:17] tokers commented on #242
@xgenvn PR is welcome!

[2022-03-01 13:59] tao12345666333 commented on #242
Thanks for your report.

[2022-03-02 02:40] anjia0532 opened #243 "`ConfigMap` cannot refresh by `subPath`"
en https://kubernetes.io/docs/concepts/storage/volumes/#configmap

Maybe remove `subPath` is better ? We can use `apisix reload` without restart deployments/pods ?

中文 https://kubernetes.io/zh/docs/concepts/storage/volumes/#configmap

或许应该去掉 `subPath` ? 这样如果修改 ConfigMap 后可以通过 `apisix reload`  命令热加载更新，而不需要重启 apisix 服务？

[2022-03-02 10:13] tokers commented on #243
As per the immutable infrastructure design, I think reloading APISIX inside the pod is not a good idea.

[2022-03-03 00:38] anjia0532 commented on #243
@tokers Acknowledge your point of view.
But,
1.  `nginx -s reload` `openresty -s reload` `apisix reload` ... They provide that functionality.
2. `ConfigMap`  provide delayed updates (Except for `subPath` )
3.  An Apisx instance abnormal restarts unexpectedly after the configuration is modified, Cause inconsistency of Apisix  cluster.

Screenshot of WeChat Group chat.
![image](https://user-images.g

[2022-03-03 00:57] tao12345666333 commented on #243
APISIX is a dynamic high-performance gateway, one of its main features is dynamism.  If there is a scenario where the configuration file needs to be modified, I prefer APISIX to provide this dynamic change capability

[2022-03-03 01:28] tokers commented on #243
Yes, exactly.

[2022-03-03 01:37] tb51cx opened #245 "request help: How to configure TLS connections for etcd"
### Issue description

helm安装apisix-ingress时，如果用外部ETCD。并且外部ETCD是启用SSL的。那么除了--set etcd.enabled=false和 --set etcd.host以外应该还要指定ca cert 和key请问能给个使用外部ETCD并且ETCD开始SSL的例子吗？

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long):
- your Kubernetes cluster version (output of kubectl version):
- if you run apisix-ingress-controller in Bare-metal envir

[2022-03-03 02:00] #236 closed

[2022-03-03 02:15] tao12345666333 commented on #245
In fact, this question has nothing to do with Ingress. So i moved it and changed the title.

Currently we are using the helm chart of bitnami/etcd, please check its documentation.
https://github.com/bitnami/charts/tree/master/bitnami/etcd#parameters

[2022-03-03 02:15] #245 closed

[2022-03-03 07:47] tb51cx commented on #245
ETCD为已经在本机安装好的集群，配置如下:
systemctl cat etcd
# /etc/systemd/system/etcd.service
[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd
ExecStart=/opt/kube/bin/etcd \
  --name=etcd-172.18.188.208 \
  --cert-file=/etc/kubernetes/ssl/etcd.pem \
  --key-file=/

[2022-03-03 08:41] tao12345666333 commented on #245
please see https://github.com/apache/apisix/issues/3371
https://github.com/apache/apisix/issues/3270

[2022-03-09 10:15] anjia0532 opened #247 "Add `lifecycle.postStart` to `apisix` `value.yaml`"
k8s docs <https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/>

e.g. <https://github.com/elastic/helm-charts/blob/main/elasticsearch/values.yaml#L275-L293>

[2022-03-09 11:13] anjia0532 opened #249 "`customPlugins.plugins[].name` is unuse"
values.yaml

https://github.com/apache/apisix-helm-chart/blob/cad35eceb4e21e6e23ca7cd221d72798f7ac3601/charts/apisix/values.yaml#L226-L228

template.yaml

https://github.com/apache/apisix-helm-chart/blob/cad35eceb4e21e6e23ca7cd221d72798f7ac3601/charts/apisix/templates/deployment.yaml#L122-L127

https://github.com/apache/apisix-helm-chart/blob/cad35eceb4e21e6e23ca7cd221d72798f7ac3601/charts/apisix/

[2022-03-10 02:01] tokers commented on #249
@anjia0532 See https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/templates/configmap.yaml#L249-L251.

[2022-03-10 02:04] tokers commented on #247
@anjia0532 It will be better if you can give some real scenarios that people may use it.

[2022-03-10 03:40] anjia0532 commented on #249
所以 apisix charts 建议不同的plugins 创建不同的 configmap ?而不是在一个configmap 里多个插件?

[2022-03-10 05:47] shuaijinchao opened #251 "docs: deploy go runner in apisix Ingress controller"
### Issue description

Currently there is no standard way to deploy GoRunner in APISIX Ingress Controller in the documentation, I think we should supplement relevant documentation.
I'm not sure if this issue is better created in the current project or in apisix-helm-chart, please help move if there is a problem.

[2022-03-10 07:10] tao12345666333 commented on #251
This should be moved to the Helm chart repo

[2022-03-10 08:40] tb51cx opened #252 "request help: apisix-ingress-controller一直初始化"
### Issue description

helm安装命令如下

helm install apisix-ingress-controller apisix/apisix-ingress-controller  \
--set gateway.type=NodePort \
--set ingress-controller.enabled=true \
--namespace ingress-apisix \
--set ingress-controller.config.apisix.serviceNamespace=ingress-apisix \
--set etcd.enabled=false \
--set etcd.auth.tls.enabled=true \
--set etcd.host={https://172.18.188.205:2379\,https://17

[2022-03-10 09:24] tokers commented on #249
Exactly. By the way, please use English in public channel.

[2022-03-10 09:48] tao12345666333 commented on #252
https://github.com/apache/apisix-helm-chart/blob/cad35eceb4e21e6e23ca7cd221d72798f7ac3601/charts/apisix-ingress-controller/templates/deployment.yaml#L55-L57

Please check ingress-controller `config.apisix.serviceName`

[2022-03-10 09:56] zaunist commented on #252
Hi, @tb51cx. You need to install APISIX first.

https://github.com/apache/apisix-helm-chart/tree/master/charts/apisix#install

[2022-03-10 12:26] xgenvn commented on #242
Hi all, I managed by a workaround using custom nginx.

In helm `values.yml`
[code]

Then for GKE, use this example for BackendConfig
[code]

Ignore the content of this issue, exposing or enable `control_api` won't work.

[2022-03-10 12:26] #242 closed

[2022-03-11 04:38] tb51cx commented on #252
排查了一下，比较奇怪。应该是apisix-ingress-controller不能解析DNS的问题导致的。但是其他非APISIX的pod是可以解析NDS的。

因为apisix-ingress-controller 没有拉起来，所以我用了apisix pod 检测
kubectl exec apisix-ccdc7d58d-rvgnt  -n ingress-apisix nslookup  apisix-admin.ingress-apisix.svc.cluster.local
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.
Server:         169.254.20.

[2022-03-11 06:05] tao12345666333 commented on #252
Can't reproduce, please check your configuration or cluster environment.

[2022-03-11 07:30] tb51cx commented on #252
谢谢各位找到原因了，是calico的问题

[2022-03-11 07:30] #252 closed

[2022-03-14 06:42] #249 closed

[2022-03-14 06:42] #247 closed

[2022-03-17 03:28] Hwting opened #253 "feat: kubernetes deployment file configuration files mounted through subPath cannot be dynamically updated"
### Description

apisix-helm-chart deployment is currently mounted via subPath。Expect dynamic updates by modifying configuration files without restarting pods。e.g. via the Kubernetes API
[A container using a ConfigMap as a subPath volume will not receive ConfigMap updates.](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automaticall

[2022-03-17 07:43] tao12345666333 commented on #253
Duplicate with #243 , I will close this issue

xref: https://github.com/apache/apisix-helm-chart/issues/243#issuecomment-1057554086

[2022-03-17 07:43] #253 closed

[2022-03-22 01:20] anjia0532 opened #255 "[feature]Generate random admin/view key when use `helm install`"
helm template string function: [randAlphaNum, randAlpha, randNumeric, and randAscii](https://helm.sh/docs/chart_template_guide/function_list/#randalphanum-randalpha-randnumeric-and-randascii)

Auto generate password/admin-view key when that is default value.

Print password when it successed by helm NOTES.txt https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-dashboard/templates

[2022-03-22 01:25] tokers commented on #255
@anjia0532 Agree with you, that would be safer.

[2022-03-22 01:43] zaunist commented on #255
Agree +1

[2022-03-22 01:52] Gallardot commented on #255
Agree +1

[2022-03-22 02:34] tao12345666333 commented on #255
LGTM

PRs are welcome

[2022-03-22 17:53] lewismc opened #256 "Error: looks like "https://charts.apiseven.com" is not a valid chart repository or cannot be reached"
Hi folks, I wanted to try out the Helm chart in a local k3d environment but I am unable to access it.

[code]

[code]

[2022-03-23 01:03] tokers commented on #256
@lewismc Check out the network, the error message tells the reason.

[2022-03-23 04:25] lewismc commented on #256
Hi @tokers apologies you are totally right. The VPN I was on was blocking the network traffic.

[2022-03-23 04:25] #256 closed

[2022-03-24 03:37] anjia0532 opened #258 "[bug] apisix helm charts README.md some config params is wrong"
e.g.

https://github.com/apache/apisix-helm-chart/blob/b41e19e4e46e9e7b293198cf38e8c5d4b03a28db/charts/apisix/values.yaml#L226-L247

https://github.com/apache/apisix-helm-chart/blob/b41e19e4e46e9e7b293198cf38e8c5d4b03a28db/charts/apisix/README.md#L156-L164

[2022-03-24 03:47] tao12345666333 commented on #258
let me check

[2022-03-24 03:49] tao12345666333 commented on #258
Maybe it's time for us to use the helm docs tool, auto-generated README files are more accurate

[2022-03-24 03:55] anjia0532 commented on #258
Yes, agree +1

[2022-03-28 06:36] Gallardot commented on #258
I'd like to have a try.

[2022-03-28 08:27] tao12345666333 commented on #258
thanks

Assigned

[2022-04-01 06:15] GhangZh opened #260 "helm upgrade interdependency error"
Now using apisix1.11+apisix-ingress-controller
When I upgraded apisix1.12 with the community helm I found that go-plugin-runner would not work
When I upgraded apisix1.13 with the community helm, I found that apisix-ingress-controller reported an error
[code]
This will make the ingress-controller service unavailable, so I need to manually change the apisix configuration to enable it. However, after

[2022-04-01 06:24] GhangZh commented on #260
[code]

[2022-04-01 06:27] GhangZh commented on #260
[code]

[2022-04-01 09:28] tokers commented on #260
@GhangZh How did you create an ApisixRoute with the proxy-rewrite plugin?

[2022-04-01 09:38] GhangZh commented on #260
apiVersion: apisix.apache.org/v2beta1
kind: ApisixRoute
metadata:
  name: test
  namespace: test
spec:
  http:
  - backends:
    - serviceName: test-service
      servicePort: 8080
    match:
      hosts:
      - test.com
      paths:
      - /api/cluster/v1/usercenter*
    name: test
    plugins:
    - name: proxy-rewrite
      enable: true
      config:
        regex_uri: ["^/api/cluster/v1/user

[2022-04-01 13:07] tao12345666333 commented on #260
What is your upgrade command?

[2022-04-02 05:42] GhangZh commented on #260
After downloading the latest apisix helm chart, go into the directory and change the configuration of daemonset。

[code]

apisix-ingress-controller 1.13->1.14
[code]

[2022-04-02 11:18] tao12345666333 commented on #260
Sadly this is not a recommended way.

When you use Helm to install APISIX and set ingress-controller enabled this issue will be resolved

[2022-04-04 18:31] gamer22026 commented on #229
See https://github.com/etcd-io/etcd/tree/main/CHANGELOG#v35-data-corruption-issue. Probably want to stay on the 3.4 version. The latest Bitnami helm chart for etcd migrated back to 3.4.x version from 3.5.x due to this issue.

[2022-04-05 01:59] tokers commented on #229
Agree, I think we can use `3.4.18`, APISIX also uses this in the CI.

[2022-04-05 04:12] tao12345666333 commented on #229
Yes. We can upgrade to 3.4.18

[2022-04-07 08:38] DwGoing opened #263 "apisix-ingress-controller is always PodInitializing"
When i used Helm to install APISIX and set ingress-controller enabled, the pod of apisix-ingress-controller was always PodInitializing.

[2022-04-07 08:40] DwGoing commented on #263
Log shows "Error from server (BadRequest): container "ingress-controller" in pod "apisix-ingress-controller-cb5df4b7b-47wpq" is waiting to start: PodInitializing".

[2022-04-07 10:27] tokers commented on #263
The init container in the pod will check the reachability of apisix cluster (admin api), see https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix-ingress-controller/templates/deployment.yaml#L54 for details. Make sure your APISIX cluster is ready.

[2022-04-07 10:31] DwGoing commented on #263
<img width="848" alt="image" src="https://user-images.githubusercontent.com/16076018/162179572-6b19b27a-c7ae-4970-8b75-847739999166.png">
Is it ok?

[2022-04-07 10:39] DwGoing commented on #263
<img width="845" alt="image" src="https://user-images.githubusercontent.com/16076018/162180750-c05ba21e-fe08-4be2-a636-ed1d6d5c3a6a.png">
I don't know is it ok. Only apisix-ingress-controller is not ready, and i can use apisix-dashboard.

[2022-04-08 00:41] tokers commented on #263
@DwGoing Could you print the Deployment of APISIX Ingress Controller? Let's see the init container command, I have doubt about the address of apisix admin api.

[2022-04-08 00:53] DwGoing commented on #263
It's the Deployment of APISIX Ingress Controller. @tokers
[code]

[2022-04-08 01:09] tao12345666333 commented on #263
FYI https://github.com/apache/apisix-helm-chart/issues/252#issuecomment-1063862552

[2022-04-08 04:06] DwGoing commented on #263
@tao12345666333 I sloved the problam!
I have to configurate 'serviceNamespace' when the ns of apisix is not 'ingress-apisix'.

[2022-04-08 04:06] #263 closed

[2022-04-08 09:15] GhangZh commented on #260
Is this what set ingress-controller enabled means?
[fix: enable stream_route mode when ingress enabled (](https://github.com/apache/apisix-helm-chart/commit/051998d8cc1816674fcbc3c8029f9e7d1330e3d5)https://github.com/apache/apisix-helm-chart/pull/233[)](https://github.com/apache/apisix-helm-chart/commit/051998d8cc1816674fcbc3c8029f9e7d1330e3d5)
As we have some custom configurations for our helm de

[2022-04-08 14:40] tao12345666333 commented on #260
yes.

you can just use `apisix.enableCustomizedConfig` configuration

https://github.com/apache/apisix-helm-chart/blob/6330350e71d2642ac932bde1be06fe46180454bb/charts/apisix/templates/configmap.yaml#L24

[2022-04-11 12:54] maxid commented on #8
how to set etcd.persistence.storageClass automatically create ?

[2022-04-12 00:57] tokers commented on #8
@maxid See https://github.com/bitnami/charts/tree/master/bitnami/etcd, just pass the field to helm's `--set` option.

[2022-04-14 08:17] #229 closed

[2022-04-18 12:20] m33li5 opened #267 "Request for new apisix-dashboard chart release"
Seems `apisix-dashboard` is lagging behind in terms of relases.

For example, I made a PR which was merged to master (#264). This PR added support for newer k8s ingress API versions to both `apisix` and `apisix-dashboard` Helm charts.

New version of `apisix` Helm chart was [released](https://github.com/apache/apisix-helm-chart/releases/tag/apisix-0.9.1) which included the PR, but no release for `

[2022-04-18 13:35] tao12345666333 commented on #267
Sure! Are you interested in submitting a PR for release?

[2022-04-18 13:44] m33li5 commented on #267
Yes, but I'm not sure I know how to make a PR for release. Is it just bumping the chart versions and/or image tags?

[2022-04-19 00:54] tao12345666333 commented on #267
Yes! This time only the content related to Chart has been changed, so you can directly modify the Chart version

[2022-04-21 01:42] Senorsen commented on #267
I just wondor why you need / encourage a PR to bump some versions and publish a new release. 😮

P.S. No offence, I'm curious about this because I think this kind of work often belongs to maintainer's job.

[2022-04-21 01:56] tao12345666333 commented on #267
I don't think it matters. When a feature we need isn't released, everyone can push it forward, that's the beauty of open source projects

[2022-04-22 08:45] Gallardot commented on #225
#257  has been merged. I will close this one.

[2022-04-22 08:45] #225 closed

[2022-04-22 12:06] JohnnyQianP opened #271 "help request: install apisix by helm in K8S"
### Description

helm3 install apisix apisix/apisix
Error: rendered manifests contain a resource that already exists. Unable to continue with install: StatefulSet "apisix-etcd" in namespace "default" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app.kubernetes.io/managed-by": must be set to "Helm"; annotation validation err

[2022-04-22 13:50] tao12345666333 commented on #271
You can run

[code]

Show all releases in current namespace.

Then

[code]

And re-run helm install.

In fact, this is a basic operation of Helm, https://helm.sh/

I will close this issue.
You are welcome to join the APISIX slack.

[2022-04-22 13:51] #271 closed

[2022-04-22 16:03] JohnnyQianP opened #272 "Request help: apisix-etcd Failed to bind volumes: timed out waiting for the condition"
![image](https://user-images.githubusercontent.com/14548092/164751511-d7d1bc9f-1122-47a7-befd-abb443e404ab.png)
[code]

Any ideas? Please help to find the solution. I guess it's related with etcd, but I don't know the details.

Below, apisix is installed

# helm3 list -n ingress-apisix
NAME     	NAMESPACE     	REVISION	UPDATED                                	STATUS  	CHART       	APP VERSION
my-ap

[2022-04-22 17:13] tao12345666333 commented on #271
And you can just run `kubectl get sts -n default` , check if `apisix-etcd` exists.

[2022-04-22 17:38] tao12345666333 opened #273 "APISIX Ingress controller chart need add `metadata.namespace` configuration"
https://github.com/apache/apisix-helm-chart/blob/d220199e60ad10eb2998e6e57e45fe43df25a44a/charts/apisix-ingress-controller/templates/deployment.yaml#L19-L22

[2022-04-23 03:36] JohnnyQianP commented on #272
![image](https://user-images.githubusercontent.com/14548092/164873501-d8810afd-c3bc-4f0f-a43b-4b399a57cb62.png)
@tao12345666333
I check it below:
[code]
statefulset exist, but container pods throw exception
And the service also has an exception
![image](https://user-images.githubusercontent.com/14548092/164873708-b40bb575-cf9f-4846-9cb6-2480ec009f14.png)

[2022-04-23 03:51] tao12345666333 commented on #272
There is already a clear message

 Failed to bind volumes

in the error log.

You should check your environments, PV,PVC,SC

[2022-04-23 06:01] JohnnyQianP commented on #272
![image](https://user-images.githubusercontent.com/14548092/164879164-623ad939-3aa3-4490-84de-a6b3fb3dbd7a.png)
In the pod, etcd has an error, what's the meaning？

[code]
etcd pod error

[2022-04-23 09:29] tao12345666333 commented on #272
This means that there are some network and configuration related issues in your cluster.

plz check the document for details
https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

This has nothing to do with APISIX or bitnami/etcd

[2022-04-24 01:48] jwrookie commented on #273
Can assign to me ?

[2022-04-24 02:05] tokers commented on #273
@jwrookie Assigned to you.

[2022-04-24 02:45] jwrookie commented on #273
GET

[2022-05-05 00:59] tao12345666333 commented on #267
New version has been released. I think we can close this one.

[2022-05-05 00:59] #267 closed

[2022-05-10 03:20] RENhaixiao521 commented on #200
请问这个问题是如何解决的

[2022-05-11 06:15] tao12345666333 opened #279 "APISIX Ingress v1.4.1 release"
xref: https://github.com/apache/apisix-ingress-controller/issues/980

[2022-05-12 03:31] #279 closed

[2022-05-12 06:54] zhangyihong opened #282 "etcd的三个POD之一，一直报错重启"
k8s环境：
1. AWS宁夏区 eks
[code]

2. chart版本：
[code]
安装方式：
[code]
POD,svc 详情：
[code]
问题：
上面可以看到apisix-etcd-1 一直重启，查看该pod的日志如下：
[code]

[code]

删除该pod，让它重建一次，还是不能解决问题：
[code]

[2022-05-12 07:09] gxthrj commented on #282
cc @tao12345666333 PTAL

[2022-05-12 07:11] gxthrj commented on #282
Is this related to https://github.com/etcd-io/etcd/issues/13724 ?

[2022-05-12 07:54] tao12345666333 commented on #282
hi, can you run check etcd member list? And try to use remove  current member

[2022-05-12 08:01] zhangyihong commented on #282
Can you list the detailed operation steps?
[code]
next step ?

[2022-05-12 08:03] zhangyihong commented on #282
我升级etcd to : 3.5.4-debian-10-r17，还是一样的问题。

[2022-05-12 08:09] gxthrj commented on #282
Try about this
`etcdctl --endpoints "http://x.x.x.x:2379" member list` and `etcdctl --endpoints "http://x.x.x.x:2379" cluster-health`

[2022-05-12 08:27] zhangyihong commented on #282
[code]
[code]

[2022-05-12 08:28] mangoGoForward commented on #255
WeOpen Star

I'd like to work on this issue.

[2022-05-12 08:49] tao12345666333 commented on #255
@mangoGoForward  Assigned, thanks

[2022-05-12 10:56] amondnet commented on #282
Is this related to https://github.com/bitnami/charts/issues/9865?

[2022-05-12 11:05] amondnet commented on #282
[code]
[code]

[2022-05-13 03:11] zhangyihong commented on #282
我尝试删除etcd 使用的pv,pvc后，再部署一次，ETCD三个pod都不再发生错误导致重启了。
具体过程如下：
1. 卸载apisix
[code]
2. 删除etcd使用的pv
[code]
3. 重写安装apisix
[code]
4. 查询安装的版本：
    发现已经有更新了 apisix-0.9.2 ---> apisix-0.9.3
[code]
5. 检查pod的运行状态：
[code]
   etcd的三个pod 都运行正常，不再发生重启！

6. 检查etcd 的成员列表也有3个了：
[code]

7. 不清楚是切底删除etcd的pv还是升级apisix-0.9.2 ---> apisix-0.9.3后，导致问题得到解决。

[2022-05-13 06:31] tao12345666333 commented on #282
Great!  Apparently this is due to you reinstalling etcd.
You can see the changes from 0.9.2 to 0.9.3  not related to etcd.

https://github.com/apache/apisix-helm-chart/compare/apisix-0.9.2...apisix-0.9.3

[2022-05-13 08:57] tokers commented on #282
@zhangyihong I'm curious about the error logs printed by the abnormal ETCD instance. Do you still reserve any related logs?

[2022-05-13 10:07] zhangyihong commented on #282
之前出现问题的时候，故障的etcd实例只有一个警告日志，如下：
{"level":"warn","ts":"2022-05-12T06:48:47.594Z","caller":"clientv3/retry_interceptor.go:62","msg":"retrying of unary invoker failed","target":"endpoint://client-cfa2c90d-8acd-4633-86ea-aaf91758985e/apisix-etcd-0.apisix-etcd-headless.ingress-apisix.svc.cluster.local:2379","attempt":0,"error":"rpc error: code = NotFound desc = etcdserver: member not found"}
Error: etc

[2022-05-13 10:49] amondnet commented on #282
[code]

[code]

Solution

1. set ETCD_INITIAL_CLUSTER_STATE : existing
2. delete pvc
3. restart pod

[code]

[2022-05-16 01:19] #282 closed

[2022-05-16 12:29] tao12345666333 commented on #273
#274 has been merged. I will close this one.
Thank you.

[2022-05-16 12:29] #273 closed

[2022-05-16 12:42] tao12345666333 commented on #251
Here's a PR to fix this https://github.com/apache/apisix-ingress-controller/pull/994

[2022-05-16 12:49] tao12345666333 opened #289 "feat: add admission configuration for APISIX Ingress controller"
The APISIX Ingress controller project supports Admission configuration,

But it is not supported in the current Helm chart, so we need to add this feature

Here is a simple example
https://github.com/apache/apisix-ingress-controller/tree/master/samples/deploy/admission

[2022-05-19 01:45] zhangyihong opened #290 "ETCD更换一个k8s节点后，启动失败"
k8s版本: aws eks
kubectl version --short
Client Version: v1.19.6-eks-49a6c0
Server Version: v1.20.15-eks-0d102a7

apisix 版本：
[code]
apache/apisix:2.13.1-alpine
apache/apisix-ingress-controller:1.4.1
docker.io/bitnami/etcd:3.4.18-debian-10-r14

pod:
[code]
我们把 apisix-etcd-2所在的k8s节点(ip-172-19-117-72.cn-northwest-1.compute.internal)设置为维护模式，并驱逐该节点的apisix-etcd-2 到其他节点上：
[code]
检查apisix-etcd-2迁移到新k8s节点后的运

[2022-05-19 02:04] gxthrj commented on #290
cc @tao12345666333 PTAL, if you have time.

[2022-05-19 02:09] tao12345666333 commented on #290
It may be related to the following:

* https://github.com/bitnami/charts/issues/6251
* https://github.com/bitnami/charts/issues/8055
* https://github.com/bitnami/charts/pull/3212
* https://github.com/bitnami/charts/issues/3190

[2022-05-19 09:40] tokers commented on #290
How did you deploy the ETCD cluster? And what's the persistence way that you use?

[2022-05-20 10:37] NMichas opened #291 "A more flexible apisix.serviceNamespace for ingress chart"
Hello,

Currently the `values.yaml` of `apisix-ingress-controller` includes `config.apisix.serviceNamespace=ingress-apisix`. Users can override this during installation by passing `--set config.apisix.serviceNamespace`.

Wouldn't it be a little more flexible having `config.apisix.serviceNamespace` by default using the currently selected kubectl/release namespace and only if it is explicitly set by

[2022-05-23 02:15] tao12345666333 commented on #291
I think this is valuable so that users can install APISIX and APISIX Ingress in the same namepace without specifying additional parameters.

https://github.com/apache/apisix-helm-chart/pull/284  There is a modification, but only the Release namespace is used. It does not solve all scenarios https://github.com/apache/apisix-helm-chart/pull/284#issuecomment-1126648297

Adding compatible configuratio

[2022-05-23 07:23] NMichas commented on #291
@tokers yes, indeed.

@tao12345666333 exactly, in my case, I'm creating a meta-chart for our stack which includes APISIX. I'd like my users to be able to do a Helm install of our stack without having to specify additional parameters for the third-party dependencies of our chart.

Here's my PR for review:
https://github.com/apache/apisix-helm-chart/pull/292

[2022-05-23 08:31] juzhiyuan commented on #291
Thanks! After all CI passed, we will review :)

BTW @NMichas, except for GitHub, we also have the `#apisix` Slack channel with 600+ members under the Apache Software Foundation's workspace. Welcome to join in via https://apisix.apache.org/docs/general/join/ Most of Apache APISIX users and maintainers are here.

[2022-05-23 08:34] NMichas commented on #291
Thanks, I've already joined you on Slack :)

[2022-05-23 09:13] mkocsis-tg opened #294 "Add configurable initContainer image and tag"
Add support for overriding the image and the tag of the initContainers sections in the:
- charts/apisix/templates/daemonset.yaml
- charts/apisix/templates/deployment.yaml

This is required to deploy the chart in an air-gapped K8s cluster, where internet connection is forbidden or limited.

Change it FROM:
[code]
TO similar what is in the charts/apisix-ingress-controller/templates/deployment.yml
[c

[2022-05-23 09:19] tao12345666333 commented on #294
I think this is valuable, if you are interested please submit a PR

[2022-05-23 09:22] mkocsis-tg commented on #294
Yes, the PR is on the way :)

[2022-05-23 11:21] mkocsis-tg opened #296 "Add admin ingress to expose it externally"
Add new Kind: Ingress for the admin API calls. This is a convenience feature to expose the admin API. This would enable the access to it form outside of the cluster.

Reasons: support configuration as code setup via curl / ansible or any other provisioning tools over http / https through the admin REST api.

[2022-05-23 12:18] NMichas commented on #291
@tokers I tested a bit more and realised `serviceName` exhibits a similar behaviour. I'm now testing an updated PR taking into account both `serviceName` and `serviceNamespace`. I shall be able to submit it in the next few hours, so you can discard my previous PR for the time being.

[2022-05-23 12:43] mkocsis-tg commented on #296
That is why it is disabled by default int he PR

[2022-05-23 16:15] NMichas commented on #291
So, PR is now updated:

- Ingress
Ingress chart can now be installed in the same namespace as the admin service without having to pass `--set` parameters to Helm. In addition, ingress' URL of the admin service can be created automatically if missing, prefixed with the release name. From `values.yaml`:

[code]

- Dashboard
The URL of etcd is now automatically prefixed with the release name, when le

[2022-05-23 17:51] tao12345666333 commented on #291
SGTM

[2022-05-24 01:09] tokers commented on #291
LGTM

[2022-05-24 03:41] tao12345666333 commented on #294
@mkocsis-tg  #295 has been merged.
I will close this one. Thanks!

[2022-05-24 03:41] #294 closed

[2022-05-24 03:45] tao12345666333 commented on #294
@mkocsis-tg If you have time please submit a PR to add documentation about this change https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/README.md  :heart:

[2022-05-24 13:07] NMichas commented on #290
Just to add, I'm also facing this issue. The problem seems to be with the Bitnami chart. I went through the relevant discussions/issues and although some PRs have been merged that seem to help with this problem is not entirely solved yet.

I also tried with the latest Bitnami etcd chart (8.2.2) and I still observe the same error (easily reproduced when I do a `helm upgrade --install` for my chart

[2022-05-27 14:51] xewn opened #300 "每个版本变动了什么，可以有个清单记录不？"
最近看到经常发布版本，但是每次更新了什么，完全不知道。方便把issues解决了的清单放在发布记录不？

[2022-05-30 01:11] tokers commented on #300
@xewn Good idea. cc @tao12345666333 .

[2022-05-30 01:23] tao12345666333 commented on #300
Thank you for your suggestion, we will add changelog to record in subsequent versions.

I will add the changelog to each Helm chart's Chart.yaml file, as well as the CHANGLOG file

[2022-05-30 01:55] SRCchen opened #301 "[Suggestion] 添加hostPort支持"

[2022-05-30 02:00] SRCchen commented on #301
目前的helm chart 好像不支持hostPort ,考虑到有作为ingress使用的情况,是否可以在chart中添加hostPort 选项,具体如下:
[code]
`templates/daemonset.yaml`  or `templates/daemonset.yaml`：
[code]

[2022-05-30 09:23] tokers commented on #301
@SRCchen Would you like to submit a PR? Thanks!

[2022-05-30 10:47] SRCchen commented on #301
https://github.com/apache/apisix-helm-chart/pull/302#issue-1252553242

[2022-06-08 12:02] siaron opened #306 "customPlugins.plugins.attrs 导致apisix初始化失败. 2.14.1-alpine"
- example
[code]
- 生成的configmap 为
[code]
字符串"是咋来的,

[2022-06-09 01:14] tokers commented on #306
I used the snippet you provided and try to use `helm template` to reproduce but I didn't find the redundant double quote symbol.

[2022-06-09 01:34] #306 closed

[2022-06-22 08:27] caibirdme opened #308 "bug: fail to install dashboard"
### Issue description

when dry-run to test, it reported error:
`helm install --debug --dry-run -f ./apisix-dashboard/custom-values.yaml apisix-dashboard ./ap
isix-dashboard -n ingress-apisix`

[code]

### Environment

- your apisix-ingress-controller version (output of apisix-ingress-controller version --long): apisix/dashboard@v0.6.0
- your Kubernetes cluster version (output of kubectl version):

[2022-06-23 01:51] tokers commented on #308
Thanks for the report, I have submitted an PR to fix it: https://github.com/apache/apisix-helm-chart/pull/309.

[2022-06-23 06:55] #308 closed

[2022-06-23 07:09] tao12345666333 commented on #308
#309  has been merged. This issue can be closed.

[2022-06-24 09:49] amondnet commented on #282
https://github.com/bitnami/bitnami-docker-etcd/pull/42

[2022-06-27 15:16] tao12345666333 commented on #5
In fact we have already set the dependencies. I will close this one. thanks

[2022-06-27 15:16] #5 closed

[2022-07-13 02:26] juzhiyuan opened #312 "docs: add "how to configure features in the config-default.yaml""
## Background

When we use the `apache/apisix-ingress-controller` project by HelmChart, we could use the `--set xxx=xxx` command to inject user-defined configurations to the `apache/apisix` project's `config.yaml file` according to this template file[1], but the document[2] misses this part. Some users don't know about this case, so the issue[3] occurred.

## How to resolve this case?

1. Add a ne

[2022-07-13 02:39] tao12345666333 commented on #312
This description is wrong.

For the Apache APISIX Ingress project, it is a control plane component that does not modify any configuration files of APISIX (neither config.yaml nor config-default.yaml will modify)

All modifications related to the APISIX configuration file are done in the  `charts/apisix` Helm chart

[2022-07-13 02:44] juzhiyuan commented on #312
@tao12345666333 Could you please check this[1]? We indeed could inject configurations when using Helm

[1] https://the-asf.slack.com/archives/CUC5MN17A/p1657630350382909?thread_ts=1657549138.916759&cid=CUC5MN17A

[2022-07-13 03:34] tao12345666333 commented on #312
`helm --set` is equivalent to modifying the values file of `charts/apisix`.

Then the relevant configuration will be mounted into the APISIX Pod, as well as APISIX's own configuration file.

[2022-07-13 05:55] juzhiyuan commented on #312
Yes 👍 The thing is, in the `apache/apisix-ingress-controller`'s tutorials and documents, we mainly mention that we could use the following command to install apisix:

[code]

But we don't mention how to update configurations in the `config-default.yaml` file, so I would prefer to add some descriptions to make it more straightforward for users. 🙏

[2022-07-13 06:28] tao12345666333 commented on #312
I think it's a very common and fundamental behavior that anyone using Helm basically knows/understands.

There is a document on APISIX Ingress using *-plugin-runner in our documentation. https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/tutorials/how-to-use-go-plugin-runner-in-apisix-ingress.md#install- apisix-ingress

The documentation exists because its configuration

[2022-07-13 08:55] juzhiyuan commented on #312
In fact, users (the above slack thread) still miss this `fundamental behavior`.

[2022-07-13 09:13] tao12345666333 commented on #312
you can see this document https://github.com/apache/apisix-helm-chart/tree/master/charts/apisix#custom-plugin-parameters

"custom plugin parameters"

[2022-07-14 01:32] airclear opened #313 "help request: Can't enable plugin authz-casdoor"
### Description

Environment and Config same as  apache/apisix#7279

Install with Helm ,  Chart version : 0.10.0

helm config:

[code]

config the route use curl :

[code]

It seems like the plugin `authz-casdoor` is not enabled

result like this:

[code]

### Environment

- Install with Helm
-  APISIX version (run apisix version): 2.14.1
- apache/apisix 2.14.1-alpine 382ae3df093d 3 weeks ago 148M

[2022-07-14 02:21] juzhiyuan commented on #312
For the Slack question, our user wants to configure the `opentelemetry` with the `apache/apisix-ingress-controller` by `helm`. I have to say this attribute is deep. 😂😂

In the documentation, it's `pluginAttrs`, but in the `config-default.yaml` file it's `plugin_attr`. I'm not clear about the reasons for using different naming styles, but we could mention them more clearly. 😊

![image](https://user

[2022-07-14 13:48] tao12345666333 commented on #313
Obviously, this plugin is not enabled in your configuration.  You should turn it on if you need it.

[2022-07-15 01:02] tokers commented on #313
@tao12345666333 Looks like the `authz-casdoor` plugin was enabled in the `plugins` field.

@airclear Could you try to paste the ConfigMap object `apisix` here, that's config.yaml file.

[2022-07-22 10:00] #313 closed

[2022-07-26 02:08] bzp2010 opened #315 "bug: The nginx.http_server_location block cannot be configured in APISIX's chart."
## Current Behavior

We can rewrite the `http_server_configuration_snippet` in the configuration file with the `configurationSnippet.httpSrv` value, and it also supports several others now, but it does not support `http_server_location_configuration_snippet` modification, I checked the current template and values, which do not have this part of the configuration. Users can only modify its content

[2022-07-26 06:42] dickens7 commented on #111
obsolete

[2022-07-26 06:42] #111 closed

[2022-07-27 10:57] dangllucas opened #317 "Problem with Release: Packaged .tgz does not contain correct dependency"
Hey there,

when comparing the Release 0.10.1 with 0.10.1 you find in the diff a the commit #15a838c of PR #309 (https://github.com/apache/apisix-helm-chart/pull/309)

These changes are reflected in the Master Branch and also in the source of the Release 0.10.1 (https://github.com/apache/apisix-helm-chart/releases/tag/apisix-0.10.1)

But when looking at the Packaged Helm Chart Archive you find the

[2022-07-28 09:44] tokers commented on #317
@tao12345666333

[2022-07-28 10:16] tao12345666333 commented on #317
Hi, it's all correct. 0.10.1 is just to update APISIX Ingress dependencies.

In fact, you can't see actual changes by comparing tags directly.
Because each Helm chart is released independently

If you want this feature to appear in a new Helm chart, we should do a new release for apisix-dashboard, then update the dependencies in APISIX’ s chart.

You can create a new PR for this. Thanks

[2022-07-28 10:16] #317 closed

[2022-08-09 01:25] tokers opened #322 "feat: support mounting custom serviceaccount"
As a user, I want to mount a custom service account token so that I can control the permissions of the APIsIX pod according to my needs (e.g., the Kubernetes service discovery feature).

##Acceptance Criteria

As a user, I can use a custom service account via specifying the field `serviceAccountName` in `values.yaml`, then after I deploy the Apache APISIX, it works well, and no permission issue is

[2022-08-09 07:42] etcdWu commented on #144
I am experiencing the type error which says the health check failed, and the error as follows:
Readiness probe failed: {"level":"warn","ts":"2022-08-09T07:35:56.993Z","logger":"client","caller":"v3/retry_interceptor.go:62","msg":"retrying of unary invoker failed","target":"etcd-endpoints://0xc0001d0380/apisix-test-etcd-0.apisix-test-etcd-headless.deploy-test01.svc.monix.nonprod:2379","attempt":0,"

[2022-08-09 10:21] tokers commented on #144
See this. Check the networking of your Kubernetes cluster.

[2022-08-12 03:23] lewiseliu opened #324 "public-api plugin is missed in apisix-helm-chart/charts/apisix/values.yaml"
public-api plugin is missed in apisix-helm-chart/charts/apisix/values.yaml ，which caused exception - not found.
After adding the plugins by manual, the api can work well.
[code]

curl -X PUT 'http://127.0.0.1:9080/apisix/admin/routes/r1' \
    -H 'X-API-KEY: <api-key>' \
    -H 'Content-Type: application/json' \
    -d '{
    "uri": "/apisix/plugin/jwt/sign",
    "plugins": {
        "public-api":

[2022-08-12 03:33] tzssangglass commented on #324
we can try

[code]
?

[2022-08-12 10:44] Iced-Sun opened #325 "proxy protocol customization"
Currently, the proxy-protocol related options are not exposed in value.yaml.

[2022-08-14 11:42] tokers commented on #325
@Iced-Sun Would you like to submit a PR to support it? Thanks!

[2022-08-14 11:43] tokers commented on #324
I think we can submit a PR to update the default plugin list.

[2022-08-16 05:26] akalittle opened #326 "bug: helm apisix template generated leads to an etcd error"
### Current Behavior

helm template  --release-name apisix-istio  -f ./apisix/values.yaml apisix/apisix --output-dir ./apisix-deploy

[code]

It's euqal to
[code]

But after apply all the yaml file, every time  there is a pod with `index: 1` error.

<img width="596" alt="image" src="https://user-images.githubusercontent.com/38489160/184804060-fdbe9c00-09ee-4b20-af24-60fe7b691420.png">

{"level":"p

[2022-08-17 14:26] #326 closed

[2022-08-24 06:27] akalittle opened #330 "bug: ingress serviceMonitor doesnt generated"
[code]
after untar the the files below
[code]

then edit the values.yaml file in the root directory:
[code]
in the subchart setting:
[code]

then runs: ` helm template  --release-name apisix-istio  -f ./values.yaml apisix/apisix --output-dir ./apisix-deploy `

However the generated serviceMonitor.yaml in `ingress-controller` chart is still empty.

[2022-09-01 13:31] tao12345666333 commented on #70
I think we've reached this goal

[2022-09-01 13:31] #70 closed

[2022-09-01 13:45] tao12345666333 opened #334 "feat: using helm-docs to generate docs automatically"
We can use some tools like github.com/norwoodj/helm-docs to generate README automatically.

[2022-09-02 09:07] zar3bski opened #336 "How to provision plugin config and routes?"
Il am looking for way to preconfigure some plugins and routes based on `values.yaml`. Here is what I tried with the plugin **openid-connect**

[code]

Even though **openid-connect** appears in `plugins`, I can't find it activated in the dashboard when I deploy the stack.

Do you have an example of what `pluginAttrs` is waiting for (if this is the way to configure plugins)?

[2022-09-02 09:39] tokers commented on #336
@zar3bski You should configure the OpenID Connect plugin in ApisixRoute object.

[2022-09-02 10:59] zar3bski commented on #336
@tokers Could it be done in **values.yaml**

[2022-09-02 13:21] tao12345666333 commented on #336
no. its a Kubernetes's custom resource

[2022-09-02 13:51] zar3bski commented on #336
OK thanks. I close this issue

[2022-09-02 13:51] #336 closed

[2022-09-06 14:03] rfeijolo opened #339 "APISIX chart ingress class name support"
When the chart is installed and the ingress is configured it uses the annotation kubernetes.io/ingress.class that was (deprecated)[https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation] in Kubernetes 1.18.
The server capabilities should be checked and and if the server version supports the ingress class name, it should be used instead.

Should a PR be sent to addre

[2022-09-07 08:16] rayw000 opened #341 "`etcd.host` field in the `values.yaml` file doesn't work"
I tried to install apisix with external etcd (`http://apisix-etcd.<namespace>.svc.cluster.local:2379`)
[code]
but got failed. The `etcd` section in my `values.yaml` is as follows.

[code]

The logs of `apisix-xxxxxx-yyyyyy` are
[code]

I tried to access my etcd cluster by running `curl http://apisix-etcd.<namespace>.svc.cluster.local:2379/version` from a pod in my k8s, things worked fine.

I tried

[2022-09-07 10:50] tokers commented on #341
Could you also paste the configmap for storing apisix configuration?

[2022-09-09 09:49] juzhiyuan commented on #290
## Use APISIX Helm chart with standalone deployment etcd

1. Create a namespace apisix

[code]

2. Deploy the etcd instance

[code]

3. And then apply to kubernetes

[code]

4. Deploy the APISIX Ingress

[code]

Check pods status

[code]

5. Verification

[code]

Create route YAML (`ar.yaml`):

[code]

[code]

Try to visit the HTTPBIN service API.

[code]

[2022-09-11 05:24] amartincolby opened #343 "Add IngressClass To Chart"
I am trying to configure APISIX and the apisix-ingress-controller. This is not working because the ingress-controller does not create a new ingressClass. I cannot tell if I missing something in the basic configuration and setup. If it is not creating a new IngressClass, can it be configured to do so?

[2022-09-11 06:55] tao12345666333 commented on #343
IngressClass resource is not required.

You can continue whether or not the resource exists.  Also, you can create this resource by yourself

[2022-09-11 07:14] tao12345666333 commented on #343
However, I think maybe we can add this configuration as well.  Would you like to submit a PR to add this resource?

[2022-09-11 23:00] amartincolby commented on #343
I thought that IngressClass was required from 1.19 forward?

Regardless, I will open a PR with the template. Happy to help.

[2022-09-12 08:58] hellobiek commented on #326
then? what's the final result?

[2022-09-12 11:57] tao12345666333 commented on #343
Thanks! If you could submit a PR, I'd be happy to merge it.

To be precise, the IngressClass resource was added since v1.18. But this resource is not mandatory. Whether this resource is required depends on the implementation of the ingress controller.

[2022-09-13 03:17] amartincolby commented on #343
Ah, ok. I am not sure where I read this, because I cannot find it now, but I thought that IngressClass was required after 1.19.

[2022-09-13 09:20] xzycn opened #344 "How should I restore ETCD deployed in K8S?"
I have done some procedures for this:
1. copy a snapshot file to someplace named etcd-snapshot.db
2. scale the statefulset to 0
3. start a static pod with etcdctl  and mount the pvc used by etcd members
4. execute the restore command:
[code]
but the command has a problem: the pods have been shut down,therefore there is no pod-domain exists,get errors:
[code]
If I restore without extra options:
[co

[2022-09-13 09:58] tokers commented on #344
@xzycn I think this issue is not related to APISIX. It's totally an ETCD operation skill. Try to find help from ETCD community.

[2022-09-13 10:12] xzycn commented on #344
Maybe, this probelm comes from apisix-helm-chart, I thought I can get some help from here.
Anyway, thank you.

[2022-09-15 01:46] loda13 opened #346 "pod pending"
![image](https://user-images.githubusercontent.com/10447318/190293869-67ba7ee5-9008-45e5-8368-95993c484bee.png)

`kubectl describe pods -n apisix apisix-etcd-0`
`Warning  FailedScheduling  4m36s  default-scheduler  0/3 nodes are available: 3 pod has unbound immediate PersistentVolumeClaims. preemption: 0/3 nodes are available: 3 Preemption is not helpful for scheduling.`

`kubectl describe pods -n

[2022-09-15 09:35] tokers commented on #346
See https://github.com/apache/apisix-helm-chart/issues/11.

[2022-09-16 09:03] wey-gu opened #348 "upstream_proxy to support TLS over TCP"
Does it seem that the helm chart doesn't support this configuration? As [0] showed `stream_proxy.tcp` are anyway list of ports rather than `[addr=9100,tls=true]` as [1]?

[0] - https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/templates/configmap.yaml
[1] - https://apisix.apache.org/docs/apisix/stream-proxy/#accept-tls-over-tcp-connection

[2022-09-16 09:23] tokers commented on #348
Yes, the TLS support is not exposed via the Helm Chart.

Would you like to submit a PR to support it? Thanks!

[2022-09-21 08:13] rayw000 commented on #341
@tokers

Sorry for replying you late.

Here is my installation/upgrade command
[code]

and the content of the configmap
[code]

[2022-09-21 10:07] tokers commented on #341
[code]

The etcd section in APISIX config is same to the one you passed in helm. I think this meets your needs.

[2022-09-21 13:35] jaikewhh166 opened #350 "怎么调整 lua_shared_dict prometheus-metrics"
helm install apisix

chart version :  apisix-0.11.0

values.yaml
apisix:
  customLuaSharedDicts:
  - name: prometheus-metrics
    size: 200m

错误信息：
2022/09/21 13:25:01 [emerg] 1#1: the size 209715200 of shared memory zone "prometheus-metrics" conflicts with already declared size 10485760 in /usr/local/apisix/conf/nginx.conf:147
nginx: [emerg] the size 209715200 of shared memory zone "prometheus-me

[2022-09-22 08:15] rayw000 commented on #341
Thank you! Does it mean that I should replace the `etcd` section in my `values.yaml` file with your section? Currently I can make apisix work by passing helm command line arguments, but not by `values.yaml`.

[2022-09-22 09:29] tokers commented on #341
This section is copied from the `configmap` which was provided by you 🤔.

[2022-09-22 09:33] tokers commented on #350
You cannot tweak the shared memory size and reload APISIX. This is due to the Nginx limitation.

The way to change the size is "hot reload" APISIX, but it's not easy on Kubernetes. Doe this cluster already handle real traffic?

[2022-09-22 09:43] jaikewhh166 commented on #350
Yes, it's already real traffic

[2022-09-23 01:24] tokers commented on #350
Wait, how did you execute the reload? In Kubernetes, we don't use "reload" but just create new pods to replace old ones.

[2022-09-23 02:56] jaikewhh166 commented on #350
helm upgrade -install apisix apisix/apisix \
    --values apisix.nginx.conf.yaml

apisix.nginx.conf.yaml
-------------------------------------------------
apisix:
  customLuaSharedDicts:
    - name: prometheus-metrics
      size: 200m

[2022-09-23 15:48] kellyseeme opened #352 "how to set the values of consul"
in the apisix helm chart,there is no way to set the values of consul,just to use values.yaml，if i want to use helm install --set ,how to do it ? thanks

[2022-09-25 11:23] tokers commented on #352
I think this is a how-to problem about helm, see https://helm.sh/docs/intro/using_helm/#customizing-the-chart-before-installing.

[2022-09-26 01:41] kellyseeme commented on #352
@tokers thanks,yes,its about helm,there is no way to set values use helm about --set:
--in the chart the _helpers.tpl:
    {{- if .Values.discovery.enabled }}
    discovery:
      {{- range $key, $value := .Values.discovery.registry }}
      {{ $key }}:
        {{- include "apisix.tplvalues.render" (dict "value" $value "context" $) | nindent 8 }}
      {{- end }}
    {{- end }}

--the template of

[2022-09-26 15:33] soulbird opened #354 "Error: INSTALLATION FAILED: failed to install CRD crds/customresourcedefinitions.yaml"
I refer here https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/deployments/kind.md to install apisix-ingress-controller. `helm repo update` also seems to execute fine, but when I execute
[code]
Got the following error:
[code]
k8s version:
[code]
helm version:
[code]
os info:
[code]

[2022-09-27 00:28] tokers commented on #354
The k8s version 1.13 is too old to recognize the CRD v1.

[2022-09-27 02:00] soulbird commented on #354
I used a very old kind to create the k8s cluster, and after the upgrade, it can be installed normally. Thanks~

[2022-09-27 02:00] #354 closed

[2022-09-30 06:09] nfrankel opened #358 "Allows managing keys as secrets"
At the moment, the Apache APISIX Helm chart default [values](https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/values.yaml#L196-L198) looks like:

[code]

To override them, I need to set them "in clear".

It would be better to manage them as Kubernetes Secrets.

[2022-09-30 06:56] nfrankel opened #359 "Allow to set the Service's targetPort in the Dashboard Helm Chart"
The APISIX Helm Chart allows setting the Service's `targetPort` but the APISIX **Dashboard** Helm Chart doesn't. Hence, Kubernetes assigns a random port. If you're using Kind on Mac, you need to know which port will be mapped to the host from the beginning: you cannot access the Dashboard UI.

We should allow to set the Service's `targetPort` in the Dashboard Helm Chart.

[2022-09-30 08:36] tokers commented on #358
Make sense.

[2022-09-30 09:01] tokers commented on #358
We need a way to fetch the secret data to the container, either from volume or environment variables. Let's leave it here and see others' idea.

[2022-09-30 09:04] nfrankel commented on #358
Instead of a `Config Map`, you could use a `Secret`

[2022-10-10 12:07] 117503445 opened #367 "wrong default value in apisix chart readme"
in <https://github.com/apache/apisix-helm-chart/tree/master/charts/apisix/README.md>, the default value of `admin.allow.ipList` is `true`. In fact, the default value of `admin.allow.ipList` is `["127.0.0.1/24"]`.

[2022-10-10 13:20] tao12345666333 commented on #367
thanks, PR's welcome

[2022-10-10 13:26] 117503445 commented on #367
This is PR <https://github.com/apache/apisix-helm-chart/pull/368>.

[2022-10-11 11:45] Gallardot opened #370 "[bug] update podAnnotations"
When I want to update the `podAnnotations`,  get error.

[code]

https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/templates/_pod.tpl#L5-L6

We need double quotation marks for numbers. I'll fix this later.

[2022-10-13 02:35] #367 closed

[2022-10-13 07:23] A-little-bit-of-data commented on #282
I did the same operation as you, but my etcd service still can't get up. What's the reason?
The version I am using is 3.4.18-debian-10-r14 of bitnami
The error log of etcd is as follows

etcd 07:21:09.99
etcd 07:21:10.00 Welcome to the Bitnami etcd container
etcd 07:21:10.00 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-etcd
etcd 07:21:10.00 Submit issues and f

[2022-10-13 14:52] tao12345666333 commented on #282
You can try to check your infrastructure. Or are all etcd nodes unavailable?

[2022-10-14 02:45] A-little-bit-of-data commented on #282
Yes, all etcd nodes are not started normally, the error is the same as above（ Headless service domain does not have an IP per initial member in the cluster）, I use bitnami's apisix chart package, this etcd is included in this chart package

[2022-10-14 05:48] tao12345666333 commented on #282
So please check if your infrastructure is healthy and look at the logs of each pod to make sure you find the real cause

[2022-10-15 08:32] #341 closed

[2022-10-17 16:43] Lyt99 opened #374 "`apisix.podAntiAffinity` have no effect"
Hi there, I tried to use `apisix.podAntiAffinity` to let apisix pods to spread on different nodes.
But this option had no effect in the latest version of helm chart.

Then I found this commit 31b915a0ffdf4987694c3e669e11afd728452e09 removed `podAntiAffinity`, and did not have a documentation removal of this change.

Should there be a change of documentation and `values.yaml` of this removal? And i

[2022-10-18 01:38] tokers commented on #374
@fengxsong Could you take a look when you have time?

[2022-10-18 02:05] fengxsong commented on #374
@Lyt99 At first, I defined template function `apisix.podAntiAffinity` only for situation where apisix instance use hostnetwork and the kind of apisix is `Deployment`. and then I discovered that the kube-scheduler will pre-filter nodes that do not use host ports when scheduling a Pod with an unbound node, which ensures that each instance will be scheduled to a different node.

[2022-10-18 02:10] fengxsong commented on #374
@Lyt99 If you are using deployment that do not use hostnetwork option, and wanna place each apisix instances on different nodes, then you should configure the `apisix.affinity` options.

[2022-10-18 02:11] Lyt99 commented on #374
In my situation, I want pods to spread on different nodes to achieve high availability, which prevents from one node down, causes all APISIX pods unavailable.

But it's okay for me to have the reason you've explained above, but maybe need some changes to the documentation. And i'm also considering switch my pods to hostnetwork later.

[2022-10-18 02:18] Lyt99 commented on #374
Yes, I'll try it. Thanks for your explanation!

[2022-10-18 09:28] tokers commented on #374
@Lyt99 Would you like to submit a PR to optimize the docs?

[2022-10-18 11:47] Lyt99 commented on #374
@tokers Sure, let me submit a PR later.

[2022-10-19 02:14] #374 closed

[2022-10-21 01:45] maaiika opened #377 "helm中如何更新crd"
从0.11.0更新到0.11.1后crd资源未更新， 创建ApisixRoute时有如下报错。
[code]
crd资源是不是需要手动更新

[2022-10-21 09:31] tokers commented on #377
Yes. Please update CRD objects manually.

[2022-10-21 09:32] #377 closed

[2022-10-24 03:51] TOT-JIN opened #379 "Found a bug in the helm template"
Platform: 1.24.3-aliyun.1
apisix: 2.15.0
helm.sh/chart: apisix-0.11.1

Upstream doesn't work when apisix is installed using helm
Error log:

[code]

After investigation, there is a problem with ClusterRole, and apisix needs to maintain the get permission for endpoints:

[code]

I will submit a PR for [https://github.com/apache/apisix-helm-chart/blob/master/charts/apisix/templates/clusterrole.yaml]

[2022-10-29 22:57] geoffreytran opened #383 "Support debug configuration for 2.10+ version"
https://apisix.apache.org/docs/apisix/next/debug-mode/

Debug mode configuration has changed from the enable_debug config.yaml option into its own debug.yaml file. The current Helm chart does not support this at the moment.

Modify Helm chart to create configmap for debug.yaml and inject into gateway.

conf/debug.yaml
[code]

[2022-10-30 12:04] tokers commented on #383
@geoffreytran Make sense, would you like to submit a PR to support it? Thanks!

[2022-10-30 18:18] geoffreytran commented on #383
Sure, I've created a PR for it here: https://github.com/apache/apisix-helm-chart/pull/384

[2022-11-01 14:11] navysummer opened #385 "apisix deploy fail"
![image](https://user-images.githubusercontent.com/17807236/199253527-b9f1cfff-e5ff-45bd-91ff-bd92533ab13d.png)

[2022-11-02 00:24] tokers commented on #385
Please, do not just paste a picture, describe your problem, with the context. Or I will close this issue.

[2022-11-02 02:05] lzxuan opened #386 "change: default enableCPUAffinity to false"
Following the merged change at https://github.com/apache/apisix/pull/8074.

NGINX gets the number of CPU cores via `getconf _NPROCESSORS_ONLN`, which in turn reads from `/sys/devices/system/cpu/online`. In a containerization environment, this is mounted directly from the host, and the cgroups doesn't have any effect on this value. As such, setting `.nginx.enableCPUAffinity` to `true` (`worker_proc

[2022-11-02 13:28] navysummer commented on #385
operate step:
          helm install apisix apisix/apisix --create-namespace  --namespace apisix

[2022-11-02 13:34] navysummer commented on #385
has updated

[2022-11-03 02:13] tokers commented on #385
This depends on how the default storage class is set in your K8s cluster.

[2022-11-04 08:59] shenzhuangzhi1 opened #387 "Is chart for version 3 being developed?"
### Description

I cant find repo of chart package,where is it?

[2022-11-07 02:25] tzssangglass commented on #387
The helm chart will be updated after the 3.0 LTS release, but is in fact already compatible with V3, see: #357

[2022-11-07 03:04] shenzhuangzhi1 commented on #387
Got it, thx

[2022-11-07 03:04] #387 closed

[2022-11-08 01:13] #370 closed

[2022-11-08 03:19] xinxinh2020 opened #389 "bug: using the latest image(3.0.0-centos) to upgrade helm release failed: container cannot connect to etcd"
### Current Behavior

When i upgraded the image of helm release from 2.15.0-centos(or 2.15.0-alpine) to the latest one, the latest container failed to run due to failing to connect to etcd cluster. The error message in container logs like:

[code]

I have recorded all the steps to reproduce this bug using asciinema, see: https://asciinema.org/a/4q10QLD1kJw3N5viGAR7JgYd3

### Expected Behavior

Upg

[2022-11-08 06:44] spacewander commented on #389
Could you provide the helm chart commit version which you modify from?

[2022-11-08 06:51] spacewander commented on #389
BTW, we are developing the feature to use 3.0 image (which is not backward compatible) via a separate flag. So soon we don't need to manually modify the helm chart (which is not recommended).

[2022-11-08 06:59] xinxinh2020 commented on #389
I think it is the latest version in the `https://charts.apiseven.com` repo:
[code]

[2022-11-08 07:04] xinxinh2020 commented on #389
Is there a latest helm chart for 3.0 image ?
If not now, how can i  manually modify the helm chart to upgrade to 3.0 image ?

[2022-11-08 08:06] xinxinh2020 commented on #389
I think i have figured out the problem: the configuration structure in 3.0.0 is changed - The etcd field is moved to deployment: [#7860](https://github.com/apache/apisix/pull/7860)

I will try to manually modify the configmap for the config.yaml later

Hope the latest helm chart to be released soon and If there's anything I can do, I would be pleased to help.

[2022-11-09 06:33] spacewander commented on #389
We plan to carry out this feature this week.

[2022-11-09 07:19] tzssangglass commented on #389
wait for #390 merged, I'm working on this.

[2022-11-10 15:48] #389 closed

[2022-11-10 19:06] lxyqwer commented on #173
请问这个问题解决了吗？

[2022-11-16 09:54] dcuebas opened #393 "Invalid Semantic Version"
I am using an image that includes my custom external plugin but because of
(`.../apisix/templates/configmap.yaml` - line 17)

`{{- $isBeta := (semverCompare ">=2.99.0-0" .Values.apisix.image.tag) }}`

I now get an error:
`error calling semverCompare: Invalid Semantic Version`

Please consider users who are not using default apisix images.

[2022-11-16 10:08] tokers commented on #393
What's the APISIX version are you using?

[2022-11-16 13:05] abalage commented on #301
Hi, may I ask when will be this feature merged?

[2022-11-16 13:38] abalage opened #395 "empty name in customPlugins cause various errors"
Hello,

I am using 2.15.0 from helm chart 0.11.2.

I configure customPlugins according to the sample from [values.yaml](https://github.com/apache/apisix-helm-chart/blob/b2f13ac7d8309174fcbb528cba244724b9f1d22f/charts/apisix/values.yaml#L287).
The content of the custom plugin does not matter.

The `name` key is an empty string in the example above. However its value is used for concatenation when t

[2022-11-17 10:09] tokers commented on #301
The PR is still on the going with some conflicts.

[2022-11-17 10:12] tokers commented on #395
Is this an accidental event? Or it's intentional?

[2022-11-17 11:09] abalage opened #396 "ingress-controller logs admin token in plaint text"
Hi,

I have changed the default admin key in apisix and apisix-ingress-controller according to the [FAQ](https://github.com/apache/apisix-ingress-controller/blob/master/docs/en/latest/FAQ.md#how-do-i-modify-the-admin-api-key-in-apisix-ingress).
Checking the logs of the ingress controller it logs the new admin token in plain text.
As container logs are usually collected and shipped to 3rd party sys

[2022-11-17 11:40] SRCchen commented on #301
https://github.com/apache/apisix-helm-chart/pull/397#issue-1453177489

[2022-11-17 11:47] abalage commented on #395
Sorry, what do you mean?
My intention was to use customPlugins. The sample does not specify a name just an zero length string which is later used for concatenation. If I provide an arbitrary name for the plugin, no plugin with that name will be found.
I am not clearly aware of  the root cause but removing that extra dash character from the generated configmap seemed to resolve it.

This is the hel

[2022-11-18 01:43] tao12345666333 commented on #395
thanks for your report.

what is your expected result？

[2022-11-18 08:27] abalage commented on #395
Thank you for looking into it.  I appreciate it.

I would expect the software to do semantic verification of the configuration file before it states it is working.
Regardless of the extra dash character the health checks of the deployment reported no issues, though the software was malfunctioning.

My bigger pain point was that the only way finding out the cause was digging into syslog and reading

[2022-11-18 15:11] tao12345666333 commented on #395
In other words, you want the software to help the user ignore the little things that come with carelessness.  and add a more explicit error log, right?

[2022-11-18 15:38] abalage commented on #395
Here are some user stories to describe my needs on higher level.
- As a DevOps engineer I want to receive explicit error logs. (I tend to focus on logs with [severity level 0-4](https://en.wikipedia.org/wiki/Syslog#Severity_level).)
- As a DevOps engineer do not want to read source code for troubleshooting. (It is a plus that I could do it.)

[2022-11-18 15:41] abalage commented on #395
Maybe one more specific to K8s.
- As a DevOps engineer I want livenessProbe(s) to reflect health of the deployment.

[2022-11-19 06:16] DengYongJie666 commented on #200
@huangzx3 请问这个问题如何解决的？

[2022-11-19 06:27] DengYongJie666 commented on #113
@LinkMaq configmap添加了endpoints和mtls也无法生效

![mmexport1668839120368](https://user-images.githubusercontent.com/97373898/202837806-6f125aee-0327-4dff-8666-1ead19b06d05.png)
![mmexport1668839123346](https://user-images.githubusercontent.com/97373898/202837810-cedaf45b-27c7-4c1f-9429-76ad1b590a95.png)
![mmexport1668839126610](https://user-images.githubusercontent.com/97373898/202837812-69fd3d0f-8a48-46

[2022-11-19 06:42] DengYongJie666 opened #400 "请求帮助：apisix-dashboard 无法连接外部etcd，url解析错误，导致连接超时"
apisix  2.15
apisix-dashboard  2.13
apisix-ingress-controller  1.5
helm  3.4.x

helm执行命令：
helm upgrade --install apisix ./ --set gateway.type=NodePort --set discovery.registry.nacos.host={http://nacos-headless.nacos.svc.cluster.local:8848} --set etcd.enabled=false --set etcd.host={"https://192.168.28.51:2379,https://192.168.28.52:2379,https://192.168.28.53:2379"}  --set gateway.tls.certCAFilename=

[2022-11-21 07:45] tb51cx opened #403 "不能创建PV"
您好，用eks安装 apisix-ingress时候PVC不能自动创建PV并绑定，导致后续所有pod不能创建出来。
helm repo add apisix https://charts.apiseven.com
helm repo add bitnami https://charts.bitnami.com/bitnami
helm repo update
kubectl create ns ingress-apisix
helm install apisix apisix/apisix \
  --set gateway.type=LoadBalancer \
  --set ingress-controller.enabled=true \
  --namespace ingress-apisix \
  --set ingress-controller.config.apisix.

[2022-11-21 10:43] sweetpotatoman commented on #403
看起来是你少创建了一个 **[sc](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/examples/kubernetes/dynamic-provisioning/manifests/storageclass.yaml)**

[2022-11-21 12:02] tao12345666333 commented on #403
https://apisix.apache.org/docs/ingress-controller/deployments/aws/

yes. we are using bitnami/etcd Helm chart to deploy etcd cluster.

Detailed configuration can be obtained in the corresponding repo

[2022-11-21 13:37] macmiranda commented on #396
You should probably open an issue on https://github.com/apache/apisix-ingress-controller

[2022-11-21 14:13] macmiranda commented on #343
You can mark a particular IngressClass as default for your cluster. Setting the `ingressclass.kubernetes.io/is-default-class` annotation to `true` on an IngressClass resource will ensure that new Ingresses without an `ingressClassName` field specified will be assigned this default IngressClass.

There are some ingress controllers, that work without the definition of a default `IngressClass`. For e

[2022-11-22 02:19] sweetpotatoman opened #404 "helm apisix no support multiple ports and custom http2 port"
I want to configure [grpc proxy](https://apisix.apache.org/docs/apisix/2.15/grpc-proxy/)
but apisix helm templates don't seem to support.

configmap
[code]

[2022-11-22 06:26] dcuebas commented on #393
2.15.0

[2022-11-22 06:35] tao12345666333 commented on #393
what's your image tag?

[2022-11-22 06:46] dcuebas commented on #393
It is a custom image - hence no semantic version tag.

[2022-11-22 07:31] tao12345666333 commented on #393
This is where the problem lies.

The logic here exists for APISIX 3.0-compatible mirroring to run.
We will publish an official Helm chart for 3.0 once other relevant components are in place.
At that time, these logics will be removed.

What you need to do is to remove this part of the logic, or modify your image tag.

[2022-11-22 10:02] abalage commented on #396
Thanks for the hint. It makes sense as the logs is created by the ingress controller not by the helm chart.

[2022-11-22 10:02] #396 closed

[2022-11-22 10:22] abalage commented on #395
Do you have any estimation about when a fix could be released? It makes manually editing the ConfigMap after each deploy quite annoying.
Thank you.

[2022-11-22 15:09] tao12345666333 commented on #395
let me add this to my TODO list.

I will back tomorrow

[2022-11-23 00:55] DengYongJie666 commented on #400
@dyrnq  This issue has been resolved and dashboard needs to add certs to deployment.yaml

[2022-11-23 00:55] #400 closed

[2022-11-23 13:07] willzhang opened #406 "support apisxi 3.3.0"
The current default version of APISIX installed is 2.15.0, and The latest APISIX Ingress Controller and APISIX Dashboard are not compatible with APISIX 3.x.
[code]

[2022-11-28 07:43] abalage commented on #395
Hi @tao12345666333 do you have any news on this. Even a permanent workaround would be okay until a proper fix is made.